[2013-03-18 17:43] hueniverse opened #2 "Migrate to lab (from mocha)"

[2013-03-18 17:49] #2 closed, assigned to hueniverse

[2013-05-09 13:27] mcandre opened #7 "`npm test`: Coverage error (Windows)"
When I run `npm test`, I get a coverage error.

Trace:

[code]

System:

[code]

[2013-07-19 17:39] geek opened #9 "Add remaining 400/500 status code methods"

[2013-08-29 17:44] kokujin opened #10 "Add documentation"
Would there be some documentation in the near future?

[2013-09-10 07:24] #7 closed, assigned to nobody

[2013-10-01 02:36] hueniverse opened #11 "Add method to extract custom keys in room and response.payload"

[2013-10-01 02:36] #11 closed, assigned to hueniverse

[2013-10-21 11:15] sebs opened #12 "npm install boom fails"
For a 0.8.18 Node and a 1.7.71 npm .. I get numerous errors when I want to install boom

The last one is

npm ERR! cb() never called!
npm ERR! not ok code 0

.. But I had, in context of zmbie.js, which is used with cucumber.js, a "TOO MANY OPEN FILES". Not sure where to adress this. But installing  boom it self seems not successful.

[2013-10-22 00:35] #12 closed, assigned to nobody

[2013-11-07 00:46] hueniverse opened #14 "stack trace not copied when creating from an existing error"

[2013-11-07 00:47] #14 closed, assigned to hueniverse

[2013-12-11 19:57] #9 closed, assigned to nobody

[2013-12-30 21:02] hueniverse opened #15 "Change how Boom is created from Error"
Take over the object instead of copying it.

[2013-12-31 03:42] #15 closed, assigned to nobody

[2014-02-13 15:59] c0state opened #16 "Add an .npmignore file to exclude the test directory from npm installs"
Subject should be self-explanatory

[2014-02-14 22:33] #16 closed, assigned to nobody

[2014-02-27 19:38] #10 closed, assigned to nobody

[2014-03-06 21:12] hueniverse opened #19 "Bring coverage back to 100% after lab fix"

[2014-03-06 21:13] #19 closed, assigned to hueniverse

[2014-03-28 18:19] hueniverse opened #20 "Internal errors (500) should never expose err.message"
`exports.internal()` removed the message, but not when generating a generic 500 error using create() or wrap().

[2014-03-28 18:26] #20 closed, assigned to hueniverse

[2014-03-29 07:06] hueniverse opened #21 "Allow every helper to set data property"

[2014-03-29 07:07] #21 closed, assigned to hueniverse

[2014-04-08 07:32] hueniverse opened #22 "Upgrade dependencies"

[2014-04-08 07:33] #22 closed, assigned to hueniverse

[2014-06-08 04:46] hueniverse opened #23 "Default message to http status"

[2014-06-08 04:49] #23 closed, assigned to hueniverse

[2014-08-02 07:10] hueniverse opened #26 "Rename spumko to hapijs"

[2014-08-02 07:11] #26 closed, assigned to hueniverse

[2014-09-22 15:23] toymachiner62 opened #29 "Boom.wrap"
I noticed that there is no documentation for Boom.wrap, but that it is a function of module.export.

Was this done on purpose or should Boom.wrap be documented?

[2014-09-23 19:22] #29 closed, assigned to nobody

[2014-10-30 14:35] arb opened #34 "Document tooManyRequests"
Relates to https://github.com/hapijs/boom/commit/51b79cea3ccdd64773920be3cb93261655f14141

[2014-10-30 15:24] #34 closed, assigned to arb

[2014-11-12 17:43] arb opened #36 "Expand Unauthorized"
Expand documentation for `Boom.unauthorized` as it is more involved than a simple 401 response.

[2014-11-13 06:51] #36 closed, assigned to arb

[2014-11-15 09:53] Aman-US-Punjabi opened #38 "How to add message to message array in Boom"
Its not an issue, I just want to know that how can make Boom message as array .
Eg. : - In boom server response is like : -

[code]

but i want it to like : -

[code]

[2014-11-15 18:59] #38 closed, assigned to hueniverse

[2014-11-21 08:19] cressie176 opened #39 "Optionally render the original 500 error message"
Boom defaults to hiding original 500 messages, which I think is a sensible default. However I'm building an internal app which will only be used by technical staff. If something like a db connection fails I'd much rather return the true error message.

The best way I've found to do this is to reset the message after wrapping the err, e.g.

[code]

However it's a bit ugly and I was wondering if the

[2014-11-25 22:40] hueniverse opened #40 "Lab 5.0, code 1.0"

[2014-11-25 22:40] #40 closed, assigned to hueniverse

[2014-12-09 19:11] #39 closed, assigned to arb

[2014-12-12 22:42] demands opened #41 "Easy way to determine if the client or server is at fault"
Wouldn't it be great if you could do:

[code]

What do you think?

Alternative approach:

[code]

[2014-12-31 01:30] phated opened #43 "Expose Boom.unauthorized as a way to wrap another error"
I am trying to augment some custom errors with properties from Boom.unauthorized (mainly the header) and am finding that you can't easily wrap a custom error with it.  I am currently just generating a new unauthorized error with the properties I want and then using extend to attach the properties.  I was hoping there would be a cleaner way to do this, like Boom.wrap does for the generic stuff.

[2015-01-05 15:41] arb commented on #43
And updates @phated?

[2015-01-05 17:30] #41 closed

[2015-01-05 18:13] demands commented on #41
Sorry for leaving this languishing; thanks for the feature! :smile:

[2015-01-05 23:59] phated commented on #43
Sorry, I've been on vacation.  Let me see if I can put something together.

[2015-01-06 00:05] phated commented on #43
Custom error using Boom.wrap - RecordNotFoundError

[code]

Custom error for unauthorized (currently) - AccountLockedError

[code]

It would be nice if `Boom.wrap` could be used for the `Boom.unauthorized` example to avoid the `Object.assign`, etc.  The reason I didn't use `Boom.wrap(this, 401)` is because the headers are important to pass along.

Let me know if any of that doesn't make sense.

[2015-01-06 15:31] arb commented on #43
I guess I'm not understanding what utility you are getting from this. It seems like you just want `boom.unauthorized`? Couldn't you just create that, add or change what you wanted, and return it?

I mean, currently, wrap doesn't do a whole lot in this context, just adds the boilerplate Boom properties and looks up the HTTP message by the status code.

[2015-01-08 07:02] phated commented on #43
Why would I want to manually handle the boom boilerplate when `wrap` does that in a more future-compatible way.  I prefer subclassed error constructors over modifying a plain error object.

I'd be fine with either of those 2 suggestions.  It just seems weird that `unauthorized` is the only method that has custom functionality that `wrap` can't add to another error.

[2015-01-08 07:40] hueniverse commented on #43
The original design was to include any such error as extra data inside the 401 error, not as its base. What are you trying to add?

[2015-01-08 08:12] phated commented on #43
I am trying to have the headers attached to my custom error constructor

[2015-01-08 18:18] hueniverse commented on #43
I get that. But why? The 401 response should really be just the header. It feels like you are exposing your internal logic through the error instead of putting that internal state elsewhere and exposing a pure 401 error.

[2015-01-10 00:19] phated commented on #43
@hueniverse This stems out of https://github.com/hapijs/hapi/issues/2326.  I would prefer to intercept my application-specific errors in a plugin that registers `onPostHandler` and then does the conversion to send boom errors to the client, but that causes an `internalError` to be logged.  The only way around that currently is to make our application errors "inherit" from boom errors to have the p

[2015-04-01 15:03] #43 closed

[2015-04-07 07:50] SzaboAdamImre opened #49 "Add data property to the response object"
Hello!

Most of the Boom methods get an additional (optional) data property, what Hapi doesn't send forward in the response.
I tried using the Hapi response/tail events, but couldn't find the given data in the inputs of those events.

To add the data property:
[code]
Which is a bit more code than it is needed to write:
[code]

The solution proposed in https://github.com/hapijs/boom/pull/47 works f

[2015-04-07 11:30] SzaboAdamImre commented on #49
Found it:
For future reference, if somebody needs it:

[code]

This code will run for all responses, and if the response is a boom object, and the data property was set on the response, it puts it on the final response object.

[2015-04-07 11:30] #49 closed

[2015-04-08 14:07] dciccale opened #50 "What's the point of hiding the actual error from the user?"
I know that some errors should not be sent from the server to the client directly since it could be unsecure.. but let me explain my situation

when replying a Boom error, I always receive a 500 statuscode error with Internal Server Error message from the server,  if I can actually create Boom errors with custom messages, or prepending a custom message to the default one, how could I treat those e

[2015-04-08 14:40] Marsup commented on #50
Usually 500 errors are unexpected ones, you certainly don't want any of those errors leaking to your clients, that would be a security issue. You are probably not transforming those into appropriate boom errors.

[2015-04-08 14:46] dciccale commented on #50
`server.js`
[code]

[code]

[code]

[2015-04-08 14:48] Marsup commented on #50
Look at the documentation, it explicitly says that without any status code it defaults to 500.

[2015-04-08 15:05] dciccale commented on #50
omg you are totally right

[2015-04-08 15:05] #50 closed

[2015-04-13 20:59] rgampa opened #51 "Make sure Boom initialize method auto cast string statusCode to Integer if possible"
At line https://github.com/hapijs/boom/blob/f4e765af32e1e8d38e20af6551472ab893e58752/lib/index.js#L30 the validation is failing if input `statusCode` is not of `Integer` type, but which can be converted to integer. Can someone please fix this issue, otherwise in consumer module previous initialization code started breaking and client is receiving 500 internal server error.

[2015-04-16 13:35] #51 closed

[2015-04-20 00:43] Think7 opened #53 "Boom.badImplementation error thrown when sent in HapiJS reply"
Hello

It seems that no matter where i try to use
[code]
Node throws an error similar to this:
[code]

[2015-04-20 01:08] #53 closed

[2015-04-23 08:48] ondrasak opened #54 "I can not push addition data of error to response"
I want to create error that contains attr 'data' where I can push what i need

in documentation I've found method 'create'

but the object what I've pushed to 'data' param I' have not found in response

[2015-04-23 13:26] arb commented on #54
I'm not sure I understand the problem.
[code]
x is equal to
[code]

The `data` key is there and is what I passed in with `.create`.

[2015-04-23 13:33] ondrasak commented on #54
I've supposed, the 'data' will be included also in 'output. payload' since I need to ship them to client (Browser app)

[2015-04-23 13:53] arb commented on #54
https://github.com/hapijs/boom/issues/49 is how it's been solved in the past.

[2015-04-23 14:24] ondrasak commented on #54
great :+1:
thanks

[2015-04-23 14:28] #54 closed

[2015-04-28 14:51] dschenkelman opened #56 "Question: Recommended way to add errorCode to errors"
First of all, great library really easy to use :smile:.

I'd like to see if you have any recommendations on how to have fixed error codes (i.e. `'invalid_connection'`) that are different from the error message. I'd would like to have a fixed set of those while being able to change error messages.

For example instead of the following `Boom.notFound('The user does not have an email')`:
[code]

I'd

[2015-04-28 15:00] dschenkelman commented on #56
Is manipulating `error.output.payload` by adding the `errorCode` the way to go?

[2015-04-28 16:14] arb opened #57 "Add a FAQ Section"
Start with - https://github.com/hapijs/boom/issues/49

[2015-04-28 16:16] arb commented on #56
Short answer - yes :+1:

Long answer - Assuming you are using hapi, check [this](https://github.com/hapijs/hapi/blob/master/API.md#error-transformation) and [this](https://github.com/hapijs/boom/issues/49#issuecomment-90514349). I'm not going to change the `output` or `payload` values because they could have downstream impacts.

[2015-04-28 16:16] #56 closed

[2015-04-28 16:18] dschenkelman commented on #56
Thanks!

[2015-04-28 16:23] #57 closed

[2015-04-28 23:35] phated commented on #56
If you aren't plugin adverse, we've implemented this in [boomstick](https://www.npmjs.com/package/boomstick)

[2015-04-29 06:49] AdriVanHoudt commented on #56
@phated thanks for the hint, I have something similar implemented but I think I'll implement some ideas from boomstick if I may ^^

[2015-05-21 20:21] arb opened #60 "Style Cleanup"
Do this: https://github.com/hapijs/contrib/issues/31

[2015-05-29 05:21] #60 closed

[2015-06-13 20:46] hueniverse opened #62 "Expose unauthorized attributes in payload"

[2015-06-14 01:04] #62 closed

[2015-07-08 21:28] dciccale opened #64 "how to wrap a mongoose validation error"
hi i am having an issue to reply a mongoose validation error.

this is the raw error

[code]

but if I want to wrap the error for example on a `Boom.badData()` error I get only:

[code]

I also tried using `reply()` sending the raw error the way is returned from mongoose, but I am not able to specify the `.code(422)` it says method undefined. (it works if I send a string or an object, but not an e

[2015-07-08 21:32] AdriVanHoudt commented on #64
You can use https://github.com/hapijs/boom#createstatuscode-message-data and then send the important fields as `data` otherwise I would try https://github.com/hapijs/boom#wraperror-statuscode-message

[2015-07-08 21:46] dciccale commented on #64
i am trying `reply(Boom.create(422, err.message, err));` however i'm still receiving the same thing on the browser or postman or network devtools whatever. where i am supposed to get that extra `data` ?

`wrap()` doesn't help, it does the same thing as create but without this extra `data`field

[2015-07-08 21:53] dciccale commented on #64
also tried sending the `errors` object which is the most important thin `reply(Boom.create(422, err.message, err.errors));` but still getting the same basic payload

[code]

[2015-07-08 21:55] arb commented on #64
@dciccale please see if [this](https://github.com/hapijs/boom#how-do-i-include-extra-information-in-my-responses-outputpayload-is-missing-data-what-gives) helps.

[2015-07-08 22:00] dciccale commented on #64
@arb nope, that returns

[code]

i would prefer returning a `422` with at least the `errors` field from mongoose error.

[2015-07-08 22:02] dciccale commented on #64
if I do this:

var e = Boom.whatever(err);

`e` looks something like this **before** going through `reply()`:

[code]

the thing when passing this to the `reply()` method of hapi, i gues I should move this issue there

[2015-07-08 22:25] arb commented on #64
You didn't read everything I linked to. You need to do error transformation if you want to expose more data to the client than is normally there. https://github.com/hapijs/hapi/blob/master/API.md#error-transformation

[2015-07-08 22:50] dciccale commented on #64
@arb i'm really sorry, i finally solved it with that, really cool thx!

[2015-07-08 22:51] dciccale commented on #64
and keep up with the good job guys, i'm never going back to express

[2015-07-08 22:56] #64 closed

[2015-08-17 10:27] nroviw opened #65 "Boom.notFound does not generate documented response payload"
With Hapi, running
`reply(Boom.notFound('missing'));`

Does not give expected response

    {
        "statusCode": 404,
        "error": "Not Found",
        "message": "missing"
    }

[2015-08-17 10:56] mtharrison commented on #65
I suspect there's something wrong with your routing somewhere. Try this:

[code]

Works for me:

![screen shot 2015-08-17 at 11 55 29](https://cloud.githubusercontent.com/assets/916064/9303564/e10d8944-44d6-11e5-8052-6973b4aa0db9.png)

If you're still having issues, please post versions of hapi and boom.

[2015-08-18 03:50] nroviw commented on #65
Verified that it works as you said. It seems to be broken when I used it inside a catch block for Thinky (rethinkDB ORM). I'll investigate further. Thanks for quick reply!

[2015-08-18 03:50] #65 closed

[2015-09-07 12:37] luckysoni opened #66 "What happens to the 'data' sent?"
Boom.badRequest('Invalid request', {name: 'required'});

Boom never returns the data passed to the function. It only returns the output.payload. What is the use of suppling data to Boom then? Should it not be returned in the response?

[2015-09-07 16:27] arb commented on #66
Please see the FAQ found [here](https://github.com/hapijs/boom#how-do-i-include-extra-information-in-my-responses-outputpayload-is-missing-data-what-gives) as this question has been asked many times.

[2015-09-07 16:33] luckysoni commented on #66
Thank you!

[2015-09-07 16:33] #66 closed

[2015-09-09 21:19] kpdecker opened #67 "Use captureStackTrace to remove boom artifacts from stack traces"
Using this https://code.google.com/p/v8-wiki/wiki/JavaScriptStackTraceApi the boom stack traces can safely remove their own frames so:

[code]

Could reduce to:

[code]

Which helps remove noise from throws.

Potential downsides:
- Only works under v8
- Slight bit of additional complexity
- Won't impact `wrap` API (Probably not a downside since it's BYO `Error` object so the user controls the trac

[2015-09-10 13:35] arb commented on #67
Makes sense to me. I don't think this module needs to care about anything that isn't V8. Will the result look the same if you use `wrap` or does `captureStackTrace` only filter the file(s) where you call from?

My only concern is what are the chances something useful could get filtered out?

[2015-09-10 14:41] kanongil commented on #67
I'm doubtful about the usefulness of this. I like being pointed to exactly where the error was created. If you decide to go ahead, please bear in mind that reading the `stack` property is very slow in v8. For instance, I tested the handlebars implementation and it took 10x more time to generate than a plain `Error`.

[2015-09-10 15:07] AdriVanHoudt commented on #67
I also like the full one but I can see the use case to remove it, if you do put it behind a flag or something?

[2015-09-10 16:24] kpdecker commented on #67
`wrap`: This shouldn't change. If it does, we did it wrong.

Regarding the usefulness, the whole intent of this API is to allow module developers to hide their internals. The only people who should care about the internals of boom are people working on boom and they can hack around that while debugging features. For everyone else showing the first frame as the first location that their code intend

[2015-09-10 16:26] AdriVanHoudt commented on #67
`they can hack around that while debugging features` does this imply an option of some sort or...?

[2015-09-15 04:07] kpdecker commented on #67
This doesn't have much impact on performance when run in the context of the rest of the boom stack:

[code]

Regarding hack around, I meant that the contributors to this project can comment out the line that has this effect if they are running into problems. The use case is rare enough and this library simple enough that the API overhead is not something that I would pursue but this would be a dec

[2015-09-22 14:06] #67 closed

[2015-10-14 11:13] liamwooding opened #72 "Error.captureStackTrace prevents Boom from being used in Safari"
Hi, just ran into an issue with using a Browserified Boom - ```Error.captureStackTrace``` isn't supported in Safari, so we can't use it to wrap errors in the browser. I'll fork and attempt a fix.

[2015-10-14 13:23] arb commented on #72
Please see the discussion on [this PR](https://github.com/hapijs/boom/pull/58). Boom isn't really intended for client side usage.

[2015-10-17 01:26] poliveira89 opened #73 "Custom message overrided by standard message"
On every `Boom.badImplementation(err.message)` I was expecting a specific message but I only get this:
[code]

Even If I do `reply(Boom.badImplementation('damn'));`.

I will get the message before. And on the log I get the right message:
`151017/012509.439, [error], message: damn stack: Error: damn`

I'm using 2.8.0 version of this module.

[2015-10-17 02:14] hueniverse commented on #73
Because you should not be telling your users how you fucked up. That's for you and your logs.

[2015-10-17 11:52] poliveira89 commented on #73
I understand that, but in some other frameworks I was able to choose if I want `DEBUG` mode active or not...

Thank you for your time and answer.

[2015-10-17 11:52] #73 closed

[2015-10-17 14:42] devinivy commented on #73
@poliveira89 you could certainly write a plugin for use in development that replaces `err.message` onto `err.output.payload.message`.  It would essentially consist of an `onPreResponse` extension.  You may also find https://github.com/hapijs/tv useful for this type of debugging.

[2015-10-17 15:37] poliveira89 commented on #73
@devinivy thanks the TV module could be a great addition to my code! :+1:

[2015-10-20 18:06] apechimp opened #74 "Precondition required is not supported"
[Precondition required](https://tools.ietf.org/html/rfc6585#section-3) is not supported.

[2015-10-20 19:08] arb commented on #74
I'll take a PR to add this.

[2015-10-20 19:10] apechimp commented on #74
:cool: I'll write one up for ya!

[2015-10-26 06:54] ltfyxkfh opened #76 "I got an error when the first param is Chinese in Boom.unauthorized"
Boom.unauthorized('人', 'Token')
"message": "Uncaught error: Bad attribute value (人)"

[2015-10-26 08:34] mtharrison commented on #76
As you're specifying `Token` auth scheme,  Boom is trying to put your message in a `WWW-Authenticate` header. 人 is not an allowed character for a header so it's failing.

I feel like you should be able to override the header message here using attributes, but this doesn't work:

    Boom.unauthorized('人', 'Token', { error: 'Something else' }

Maybe @arb has a better idea.

[2015-10-26 13:26] #74 closed

[2015-10-26 13:29] arb opened #77 "Node 4 Updates"

[2015-10-26 13:37] arb commented on #76
I'm actually not sure what can be done here. The error message in a 401 needs to be something that can be put in a header. If you are trying to communicate '人' back to the client, there are other ways of doing that.

[2015-10-26 13:48] devinivy commented on #76
You could provide a header-safe string as the message, then alter the payload to include the Chinese characters,
[code]

[2015-10-27 13:18] #72 closed

[2015-10-29 19:49] kpdecker opened #79 "Stack trace filtering not working for serverError constructors"

[2015-10-30 19:10] #79 closed

[2015-10-31 17:24] #77 closed

[2015-11-08 20:56] bricss opened #84 "badImplementation method message missing"
Hi there,

I have updated _boom_ to the latest version and found that **badImplementation** method not returning custom messages anymore.

And I have looked in tests and found that test for message is also missing.

[2015-11-08 21:02] johnbrett commented on #84
This is meant to happen, you don't want to expose internal errors to your users: https://github.com/hapijs/boom/issues/73

[2015-11-08 21:05] bricss commented on #84
Ok, I thought so, but API docs confused me.

[2015-11-09 14:08] #84 closed

[2015-11-16 05:17] arb opened #86 "Autogenerate TOC"
Autogenerate the table of contents.

[2015-11-27 20:32] rutaihwa opened #87 "Strict mode error"
Through `hawk` for hapi, Im getting an error to `boom`. Im not sure if this issue is in the right place or I should post it in the `hawk`. The error log can be seen in the [ travis build](https://travis-ci.org/Infidive/apizen/jobs/93584071) and basically it complains about `SyntaxError: Use of const in strict mode`. How to fix this?

[2015-11-27 20:41] rutaihwa commented on #87
I'll close this, because I think its a `hawk` issue not boom per se. But would be happy to get some ideas, if ever.

[2015-11-27 20:41] #87 closed

[2015-11-27 20:49] arb commented on #87
The seems to be that you are using a pre 4.0.0 version of Node.

[2015-11-27 20:52] rutaihwa commented on #87
That may explain why it works on my local machine. How do I make travis run with post 4.0.0 of node?

[2015-11-27 20:53] gergoerdosi commented on #87
https://github.com/hapijs/boom/blob/master/.travis.yml#L3-L6

[2015-11-27 20:59] rutaihwa commented on #87
Thanks @arb and @gergoerdosi !! :grinning: :+1:

[2015-11-30 07:40] ltfyxkfh commented on #76
it worked,thx

[2015-11-30 07:40] #76 closed

[2015-12-10 08:47] santo74 opened #88 "how to set/update a cookie in combination with Boom?"
When I return a regular json response from a route, I can set/update a cookie via Hapi's state() like this:

[code]

When using Boom, however, this doesn't work:

[code]
This results in the following error:
[code]

So how can I set/update a cookie when using Boom?

[2015-12-10 18:34] hueniverse commented on #88
Try:

[code]

[2015-12-10 20:15] santo74 commented on #88
Thanks Eran, that works indeed.
I do prefer a fluent api however, so is there a reason why this isn't the case with Boom?

[2015-12-10 21:58] hueniverse commented on #88
Because you cannot decorate an error response.

[2015-12-10 21:58] #88 closed

[2015-12-13 19:16] #86 closed

[2015-12-21 07:01] andrewgoodchild opened #90 "Support for RFC 2324"
Can we please get support for 418 HTTP Status codes as described in RFC 2324 added to Boom?

I just really need to do a Boom.iAmATeapot()  ;-)

[2015-12-21 07:16] hueniverse commented on #90
You do know that was an April's fool joke, right? :-)

[2015-12-21 07:16] #90 closed

[2015-12-21 07:40] andrewgoodchild commented on #90
Yeah I know. I was just having some fun.

[2015-12-21 07:52] AdriVanHoudt commented on #90
there was a PR for it ;) https://github.com/hapijs/boom/pull/78

[2015-12-22 15:14] arb opened #92 "Status Code Hash"
Use internal memory of status codes rather than one inside `http`.

[2015-12-22 15:14] arb opened #93 "Document Illegal"

[2015-12-22 17:17] #92 closed

[2015-12-22 17:17] #93 closed

[2015-12-29 03:22] ADumaine opened #96 "status code 418"
Why does 418 in lib\index.js use backticks instead of quotes?

It causes uglifyjs to choke since uglifyjs does not yet support ES6.

Shouldn't 418 use quotes for consistency?

[2015-12-29 03:28] gergoerdosi commented on #96
Probably because of the single quote in the value. But I agree, it's better to use single quotes for consistency, so submitted a PR.

Anyway, why do you uglify the code? This module targets node 4+ which supports template strings.

[2015-12-29 17:02] ADumaine commented on #96
To accommodate the single quotes I guess the `I'm` could be changed to `I
am`.

I'm in the middle of updating a just completed project built in react 13 to
react 14 and started with a prebuilt account management module that used
uglify for compression.  I am just trying to get it to work with the
upgrades before pulling out or changing functionality.

Thanks for the quick response!

Allan Dumaine

[2015-12-29 17:20] Marsup commented on #96
How is boom related to any of that ?

[2015-12-29 17:32] gergoerdosi commented on #96
RFC 2324 defines it as "I'm a teapot", so I wouldn't change it to "I am".

https://tools.ietf.org/html/rfc2324#section-2.3.2

[2015-12-29 17:47] ADumaine commented on #96
Started the project with https://github.com/jedireza/aqua which uses it.

Allan Dumaine
480 342-9045

On Tue, Dec 29, 2015 at 10:21 AM, Nicolas Morel <notifications@github.com>
wrote:

[2015-12-29 17:48] ADumaine commented on #96
Then double quotes should do it.

Allan Dumaine
480 342-9045

On Tue, Dec 29, 2015 at 10:32 AM, Gergo Erdosi <notifications@github.com>
wrote:

[2015-12-29 20:13] Marsup commented on #96
I don't see why boom would be of any use on the front end, exclude it from your build.

[2015-12-30 16:04] arb commented on #96
Boom is for node >= 4. I used back ticks to avoid the annoying escape character.

[2015-12-30 23:51] hueniverse commented on #96
I think we need a style rule on that. You are using it as a backdoor to using `"` :-)

[2016-01-17 21:42] karlkfi opened #100 "Boom.wrap discards message when error isBoom"
Why does Boom.wrap do nothing if the error/cause is a boom error? Shouldn't it wrap it and just overwrite the status code? I wouldn't expect the new status code and message to be dropped on the floor...

https://github.com/hapijs/boom/blob/master/lib/index.js#L76

[2016-01-17 21:45] hueniverse commented on #100
It's just how it's used within the hapi ecosystem.

[2016-01-22 13:52] mmiszy opened #101 "Using `instanceof` operator to distinguish between Boom errors"
I'm not sure whether it's a design choice or a side-effect of current implementation but `instanceof` operator cannot be used to detect Boom errors.

### Current behaviour:

[code]

### Suggested behaviour:
I expected this would yield `true` :) Moreover I think the desired behaviour can be described with the following spec:

[code]

### Justification:
Many libraries try to distinguish objects usin

[2016-01-22 14:09] devinivy commented on #101
I wont speak to this design choice, but boom objects can be detected using `error.isBoom`.

[2016-01-22 14:13] JakubJagoda commented on #101
@devinivy But that won't tell you quickly what _type_ of error it is (you would need to check the code as well). That's useful in hapi routes, when you can reply different things, basing on what actually happened. And it actually goes well with bluebird, as shown in the example.

[2016-01-22 15:04] #96 closed

[2016-01-22 18:35] hueniverse commented on #101
boom errors are just `Error`. We don't have a type per code. In many cases, boom only decorates an existing error object, not creating a new one.

[2016-01-23 21:35] mmiszy commented on #101
That's why I suggest it should have a type per code and it should inherit from Error (then `instanceof Error` will still hold true). Would that interfere with anything?

[2016-01-24 00:13] hueniverse commented on #101
It will. We pass errors as-is and just add some properties to them when you call wrap. Can't do that without a deep clone under your proposal. I also don't really find the pattern above to be that useful to justify creating dozens of new prototypes.

[2016-02-17 21:31] nicholaswyoung opened #102 "const declarations aren't allowed in Safari strict mode."
`const` declarations are not allowed when running with `use strict` in the latest Safari (9.0.2) via Browserify.

https://github.com/hapijs/boom/blob/master/lib/index.js#L5

While I can compile this error away, some people might rather have a transpiled ES5 version for now, perhaps distributed via the `browser` key in `package.json`?

[2016-02-18 18:32] arb commented on #102
`const` not being allowing with "use strict" does not make a single lick of sense...

That being said, this module really doesn't make much sense on the client and I have no plans to support or distribute a client friendly version. Your best bet would be to use webpack or browserify like you suggested and transpile this down to es5.

[2016-02-18 19:13] nicholaswyoung commented on #102
I don't know why the error occurs, but it does. I mostly brought this to your attention as additional information, for use if it was helpful — a stone discarded if it wasn't.

I'll close this now, since most use cases for Boom are server side only.

[2016-02-18 19:13] #102 closed

[2016-02-29 19:19] arb commented on #101
I agree, that seems like a lot of overhead just to accommodate this feature.

[2016-02-29 19:19] #101 closed

[2016-02-29 23:03] Marsup commented on #101
To add a more pragmatic pov, I recently tried to do that in joi, creating custom errors that keep the properties of errors (stack, ...) is such a horrible mess I'm never ever doing that again. It's doable in pure V8, but good luck with other engines, we're hostile enough as it is for browser-land not to add that to our plate.

[2016-03-02 22:09] scmorse opened #103 "Cannot use 3xx error codes"
Even the custom `.create` method does not allow using a 300 level error code.

Why does Boom not support 300 level status codes?

[2016-03-02 22:14] devinivy commented on #103
Boom is specifically used for expressing HTTP errors, and codes in the 3xx range are not considered errors.  HTTP errors are in the 4xx and 5xx ranges.

[2016-03-02 22:30] scmorse commented on #103
Is there another package for creating responses for 3xx level codes? I'm just looking for an easy way to throw an object that tells hapi that it should be a redirect. The way the code is modularized, the `reply` object is not available, so doing `reply.redirect(...)` isn't an option.

[2016-03-02 22:34] devinivy commented on #103
Yes– at least if you have access to the `request`.  Check out [`request.generateResponse()`](https://github.com/hapijs/hapi/blob/master/API.md#requestgenerateresponsesource-options).

[2016-03-03 01:25] hueniverse commented on #103
You don't throw a redirect.

[2016-03-03 01:25] #103 closed

[2016-03-16 15:58] Gattermeier opened #104 "Error when running uglify"
we are using webpack.optimize.UglifyJsPlugin for optimization.
However it throws an error with Boom:

[2016-03-16 20:56] Marsup commented on #104
That's probably because uglify doesn't understand ES6, you need to transpile it first.

[2016-03-16 21:02] Gattermeier commented on #104
Correct. Works when first transpiling with Babel. Thanks @Marsup

[2016-03-16 21:02] #104 closed

[2016-04-21 07:21] ms88privat opened #107 "[Boom.wrap(err)] check if err is a real error instance"
I'm testing hapijs and boom for the first time and got stuck for over an hour by this issue.

I realized, that one of my plugins only returned some object as an "error" instead of an error instance. The result was, that my reply with Boom.wrap(err) didn't resolve at all and no other error message was thrown in my console.

Would it be a good idea to implement an "instanceof Error check" in Boom.wr

[2016-04-21 13:12] arb commented on #107
There already is an instance of check [here](https://github.com/hapijs/boom/blob/master/lib/index.js#L73-L77). Not sure what issue you were having.

[2016-04-21 20:54] ms88privat commented on #107
@arb I'm sorry, I should have looked for myself. I resolved my issue, it was related to await/async ES7.

[2016-04-21 20:54] #107 closed

[2016-04-25 22:13] arb commented on #100
If you already have a boom object in hand, why are you calling `Boom.wrap` again on it? Can't you just overwrite the values you want or create a new Boom object?

[2016-04-25 22:21] hueniverse commented on #100
wrap() only converts if it is not already a boom error. Just how it works.

[2016-04-25 22:21] #100 closed

[2016-05-02 21:42] roderik opened #109 "Boom error using node 6"
Using node 6 I run into this error:
[code]

due to https://github.com/hapijs/boom/blob/master/lib/index.js#L124 and the changes in node 6

[2016-05-06 14:35] arb commented on #109
Doesn't seem to have anything to do with Node 6. Changing how `Error` works would be a massive change; doubt they would make that sweeping of a change. Also, the travis run on Node 6 works fine.

[2016-05-06 14:35] #109 closed

[2016-05-19 00:38] jsonmaur opened #111 "HTTP Error 423 (Locked)"
I use the error code 423 (Locked) to let users know if their account or an associated resource has been temporarily locked by an admin. I'm using 403 (Forbidden) in place of it right now, but I'm curious as to whether this was left out intentionally because it is for WebDAV in the official spec? I'd be happy to submit a PR if you agree it's appropriate for this use case. No worries if not.

[2016-05-19 13:14] arb commented on #111
I just look at what the `http` module includes as far as status codes. If it's in that list, that's good enough for me. I'd take a PR to add this.

[2016-05-20 18:04] arb commented on #111
Closed via c3b3c6b8137d719c9afcb890020a5c55c3d3a0c5

[2016-05-20 18:04] #111 closed

[2016-05-26 06:48] zatziky opened #114 "Allow creation of 3xx Redirection objects"
I know Boom is meant for 4xx and 5xx statuses only. On the second thought other status codes may also be handled as error states. For example 301 "Moved Permanently" and 302 "Moved Temporarily" can be handled by an error middleware too.

The new factory method could look like this:

`Boom.redirectPermanently(url, [message], [data])`

What do you say?

[2016-05-26 07:34] hueniverse commented on #114
Nope. Only 4xx and 5xx are errors. It makes no sense to treat 3xx as errors.

[2016-05-26 07:34] #114 closed

[2016-05-26 07:57] zatziky commented on #114
@hueniverse What about 305 "Use Proxy"? But anyways we are using the Boom project on ExpressJs not with Happi. Maybe in Happi it really doesn't make sense.

[2016-05-26 17:04] hueniverse commented on #114
boom is designed exclusively for hapi. It is a core piece of the ecosystem.

[2016-06-02 16:42] jordancardwell opened #116 "Boom.wrap(nonBoomError, code, msg) isn't setting provided message"
First off, thanks for Boom and for reading this.

I'm on **v3.2.1**

Here is what I'm observing...

[code]

...yields the following logs...

[code]

I know messages are ignored when one tries to wrap existing boom errors (#100), but I would expect the message to be set when I'm wrapping a non-boom error.

Is this unexpected behavior, or am I booming incorrectly?

Thanks :+1:

[2016-06-02 18:45] jordancardwell commented on #116
oh and we're using bunyan for logging things.. I replaced with a console.log to simplify.. hence the
[code]
in the output

[2016-06-03 19:32] jmm commented on #116
I don't find the documentation on this stuff (or the way `error.output` works in general, like why there's `output.statusCode` and `output.payload.statusCode`) very clear, but it seems that what `Boom.wrap()` does with `message` is prefix `error.message` with it, while `error.output.payload.message` is what gets used when you `reply(error)`. See [example](https://tonicdev.com/57437412a9e8791200e1a

[2016-06-13 18:32] arb commented on #116
@jordancardwell what is your question? I'm not sure I'm following. For 500 errors, hapi does not send the message to any clients to prevent leaking any potential implementation details.

[2016-06-15 00:36] hueniverse opened #117 "serverTimeout() should be aliased to serverUnavailable()"
Keep both for backwards compatibility but `serverUnavailable()` is the correct name.

[2016-06-15 00:46] arb opened #118 "Remove serverTimeout()"
Once #117 is resolved. This is a breaking change.

[2016-06-15 00:48] arb commented on #117
More just curious, why do you consider that the correct name?

[2016-06-18 12:25] hitsthings opened #120 "UX of docs - "wrap" is a misnomer"
I spent a good chunk of time looking at the hapijs docs, which say that non-Boom errors will be "wrapped" with Boom, and the Boom error will have a "source" property (among others).

I expected "source" to be my original Error, and spent a while trying to figure out how to get the original error. But in fact, my original error _was_ the top-level Boom error.

It may help others if you change refer

[2016-06-20 12:57] #117 closed

[2016-06-20 13:00] arb commented on #120
What hapi does and what boom does are two different things. hapi has some custom logic for dealing with errors when they occur to prevent data leakage back to the client. It uses boom to help standardize and format these errors. Boom has no concept of a client or data leakage and just creates general use HTTP error objects.

What does `wrap` do or not do that you believe is confusing?

[2016-06-23 02:48] bisubus commented on #90
@hueniverse RFCs aren't reasons for jokes. Can we reconsider it, please?

`Boom.create(418)` is barely readable, to the point where it can be considered an tea-pottern.

[2016-07-10 22:15] 5an1ty opened #122 "Silent badImplementation"
badImplementation currently always prints an error to the console. I would prefer this to be optional, because I'd like to do my own error logging.

[2016-07-10 22:20] hueniverse commented on #122
This has nothing to do with boom. Look at the hapi docs for the `debug` option.

[2016-07-10 22:20] #122 closed

[2016-07-13 16:52] jmm commented on #116
@arb The documentation about error messages doesn't match actual behavior or at best is too ambiguous to know what to expect.

`error.output.payload.message`

`wrap(error, [statusCode], [message])`

`reformat()`

[Example](https://tonicdev.com/5784045aed16711300a0a03a/57866342c8bce912001b7a75):

[code]

When is `error.output.payload.message` derived from `error.message`?

[2016-07-13 17:20] arb commented on #116
If this is just an issue of documentation, please feel free to open a PR to adjust the documentation so it is more clear.

I think you need `new Error` in your example code. Secondly, 500s are a special case where the message is hidden from the user per https://github.com/hapijs/boom/blob/master/lib/index.js#L136-L138

I think there is confusion about `error.message` vs `error.output.payload.messa

[2016-07-13 18:25] jmm commented on #116
I think quite a bit of it is a documentation issue, but I don't know that I actually understand the intended behavior or nuances enough to know what the docs should say -- I just know they're inaccurate / unclear now.

`Error()` is all good! At least as early as [ES5.1](http://www.ecma-international.org/ecma-262/5.1/index.html#sec-15.11.1) anyway.

Thanks. That should definitely be documented.

Ye

[2016-07-29 14:26] arb commented on #116
The 500 thing is in the documentation

Again if you understand the issue well enough to update the docs, we are more than happy to take documentation PRs.

@jordancardwell do you still have any issues or concerns?

[2016-08-22 08:28] Vadorequest opened #124 "Is there a way to log all Errors?"
It becomes hard to debug sometimes because of `Boom.wrap`:

For instance:
[code]
_This does not work. But it should. (because otherwise it's a pain to debug)_

What we are looking for is a way to print every single error, whether there are 5xx errors, or reject, etc. **But only in dev mode**. So, is there a way to setup Boom in such a way? Maybe some config to add ourselves when not in production

[2016-08-22 13:05] arb commented on #124
Boom doesn't log anything, it's just a helper utility for creating structured HTTP error objects. If you're looking to log this from your server, there are many logging frameworks available to you. Bunyan, winston, good... there are probably over 2 dozen logging frameworks to choose from.

[2016-08-26 05:13] hueniverse commented on #116
Closing due to inactivity

[2016-08-26 05:13] #116 closed

[2016-08-26 05:14] hueniverse commented on #118
Still happening?

[2016-08-26 05:14] #124 closed

[2016-08-26 12:57] arb commented on #118
Yep. Was waiting to see if someone new wanted to handle it.

[2016-08-26 13:42] #118 closed

[2016-08-29 16:10] Vadorequest opened #126 "Cannot send args using Boom.badRequest"
I'm trying to send back a message and additional data to the fronten,d in my route.

[code]

But I only get `{"statusCode":400,"error":"Bad Request","message":"Required fields are missing"}` without the additional data. I don't know why, isn't it supposed to work out of the box? Any idea?
I'm using Boom 4.0.0. I updated from 2.8 wondering if it wasn't the reason, but it doesn't seem so.

[2016-08-29 16:51] arb commented on #126
Have you read https://github.com/hapijs/boom#faq yet? Sounds similar to that kind of question.

[2016-08-30 08:37] Vadorequest commented on #126
[code]

It works this way, thanks. I just wonder if there isn't a more straight-forward way to do it.
Thank you! :)

[2016-09-14 18:34] tribou opened #127 "Boom.internal not in API docs"
I noticed `Boom.internal()` isn't listed in the README API. Is this deprecated, or should it be added to the docs?

[2016-09-14 18:46] arb commented on #127
Go for it.

[2016-09-20 09:39] alanshaw opened #128 "402 "Payment Required" missing?"
Would you accept a PR to add?

[2016-09-26 13:12] arb commented on #128
Yes.

[2016-09-27 13:03] #127 closed

[2016-09-27 13:11] #128 closed

[2016-10-06 21:53] Kamaraju333 opened #131 "Boom Response"
Can i Customize the keys in the payload from statusCode to status or message to errorMessage?

[2016-10-12 22:39] lukasolson opened #132 "405 Method Not Allowed should provide an argument for specifying "Allow" header"
According to the [HTTP 405 spec](https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#sec10.4.6):

It seems like `Boom.methodNotAllowed([message], [data])` should provide an additional argument, `[allow]`, which does just this.

[2016-10-13 12:49] #126 closed

[2016-10-13 12:50] arb commented on #131
Yes. What context are you using boom? With hapi or with something else?

[2016-10-13 13:13] Kamaraju333 commented on #131
Hi ,

I am using for handling error message in my node project , am using boom
directly.

Thanks
Kamaraju

On Oct 13, 2016 07:50, "Adam Bretz" <notifications@github.com> wrote:

[2016-10-13 16:43] arb commented on #131
The boom result is just a JS object, you can assign any key and any value to it before using it. I'm not sure I understand the scope of your question.

[2016-10-13 16:44] #132 closed

[2016-10-13 20:58] Kamaraju333 commented on #131
If i use Boom like below
throw Boom.notFound("User Not Found")
it Gives me the error is a specific structure , Can i customize it so that it returns me only in a specific Format .

[2016-10-14 15:30] arb commented on #131
Yes
[code]

It's JavaScript, you can do whatever you want to the object after it's constructed.

[2016-10-19 09:53] McPo opened #135 "Transpile before publish"
Would there be an appetite to transpile the codebase using babel before publishing it.

Currently an error is caused by UglifyJS on this library due to its use of ES6 'let'. Which UglifyJS seems to trip over. Its also fairly standard practice to transpile before publishing (or at least all my other dependencies do).

This is ultimately an UglifyJS issue but they seem slow to support ES6, transpili

[2016-10-19 10:07] Marsup commented on #135
This has been answered many times over, that's a no. Why aren't you using babel-minify or babili instead of a 2yo tool ?

[2016-10-19 11:16] McPo commented on #135
Yeah thats my bad, I keep forgetting to check closed issues considering github shows open issues by default. Sorry about that. Heres the issue I duplicated, for the interest of other users https://github.com/hapijs/boom/issues/104. (It actually pointed me in the right direction)

Im using the electron-react-boilerplate project, which was setup with babel and webpack etc. Im still quite new to JS d

[2016-10-19 11:16] #135 closed

[2016-10-19 11:30] Marsup commented on #135
Why would you need to transpile it at all using electron, doesn't it already have an almost fully ES6-compliant engine ?

[2016-10-19 11:37] McPo commented on #135
It does, however UglifyJS doesn't.

As soon as I get some spare time, Ill be ripping out the build system and replacing it with a much simpler one. I have a feeling theres a lot of technology being used which is aimed more towards the front-end web than a desktop electron app. i.e. inlining images below a certain size to improve performance etc.

However I needed something to get me started quickl

[2016-10-19 12:05] Marsup commented on #135
I'm not a specialist but I don't think uglify is useful at all in your case since you're not having any network requests.

[2016-10-19 13:14] McPo commented on #135
Yeah Im of the same mind. Although UglifyJS also obfuscates the code (Although its debatable if its of any real use), and Id hate to remove it now. It will probably get dumped when I get around to rewriting the build script.

Thanks,
Emmet

[2016-10-26 00:30] mymattcarroll opened #136 "Contributing guide links to 404"
The https://github.com/hapijs/boom/blob/master/CONTRIBUTING.md file is currently links to an unavailable site

[2016-10-26 01:22] genediazjr commented on #136
It was moved to https://github.com/hapijs/hapi/blob/master/.github/CONTRIBUTING.md
You can send a PR for the correct link.

[2016-10-26 01:51] #136 closed

[2016-10-26 18:18] niftylettuce opened #138 "Preservation of `err.name` via `Boom.create` or `Boom[someMethod]`"
Shouldn't we be preserving the original `err.name`?

[2016-10-26 18:20] niftylettuce commented on #138
Perhaps maybe detect if `message` is an `err` when passed to `internals.create` and if it is then wrap it instead?  Would be really nice to have this so we could use `Boom.badRequest(err)`. <https://github.com/hapijs/boom/blob/254593fd1d09e79049692675a4f9b7b5108b36d8/lib/index.js#L28>

[2016-10-26 18:23] niftylettuce commented on #138
Currently the only way to do this is:

[code]

[2016-10-26 20:49] niftylettuce commented on #138
See my pull request #139

[2016-10-26 21:08] niftylettuce commented on #138
For anyone wondering why we need this and #139, the reason is to preserve error messages if you want to shorthand a method instead of having to remember status code.  For example, if there's a validation error in Mongoose, you can simply `ctx.throw(Boom.badRequest(err))` and if you also were to happen to use this <https://github.com/niftylettuce/koa-better-error-handler> as your error handler with

[2016-11-05 19:25] cjduncana opened #140 "Hapi Server becomes unresponsive after second call"
I recently started a new project and since I have used Hapi before and was happy with it, I used it again.

I have everything modularized, nice and pretty. The project includes a handlers folder with files that each contains handlers for the same resource. For example, in the same file, I would have a handler to get a resource by its ID and another one that would update a resource by its ID. Since

[2016-11-11 23:49] hueniverse commented on #140
This is unlikely to be a boom issue. You should open it in hapi.

[2016-11-12 01:46] wwalser commented on #140
I have the same behavior with Hapi 13.5.3 & Boom 3.2.2. Doesn't seem like a reason change, seems like something gets mutated on the Boom object by Hapi that doesn't allow them to be reused for multiple requests. For now I'm getting around it with:

[code]

I'll go ahead and re-create this issue over on Hapi's project.

[2016-11-12 01:50] wwalser commented on #140
Opened here: https://github.com/hapijs/hapi/issues/3378

[2016-11-14 15:25] arb commented on #140
Per your investigation, it's very likely hapi is doing some kind of mutation that is causing this issue.

[2016-11-14 15:25] #140 closed

[2016-12-08 15:44] #131 closed

[2016-12-13 10:25] mmc41 commented on #116
I was also surprised today that boom.wrap ignored the message. It would be nice if this was documented + if there is an override for development mode like most other web frameworks has.

[2016-12-13 21:31] hueniverse commented on #116
It doesn't ignore it as much as hides it from the response structure.

[2016-12-17 20:29] mmc41 commented on #116
Hide, Ignore ... isn't it the same thing since boom is intended to produce the response and it is missing to the surprise of new developers as is clear from this thread.... At least, this undocumented "feature" violates the principle of least surprise. I can see why it can be a good thing in production, but I think is a anti-feature when developing/testing.

[2016-12-17 21:57] hueniverse commented on #116
It's not the same thing. This is a security feature and since new developers are more likely to fuck it up then do it right, I rather they get frustrated a bit that the error they get doesn't include enough information (and the learn how to log it properly in hapi) than leak internal implementation deals to potential attackers.

As a general rule, I will always optimize the framework for the benef

[2017-01-31 16:21] paulodiovani opened #142 "Boom.wrap never sends custom message to client"
#### Are you sure this is an issue with hapi or are you just looking for some help?

Yes. It's an API issue and related to #116.

I'm considering that:

1. For `4xx` and `5xx` (but not `500`) Errors, the `message` argument is always sent in the response for the client
2. For `500` Errors, the `message` is hidden, sending always _"An internal server error occurred"_ to client response
3. `Boom.wrap

[2017-02-04 17:09] Fosol opened #143 "204 and other status codes"
Is there a reason Boom does not support returning other HTTP status codes other than >= 400?  Seems like a missed opportunity...

[2017-02-04 23:15] hueniverse commented on #143
Boom is an error. Only 4xx and 5xx are errors.

[2017-02-04 23:15] #143 closed

[2017-02-19 12:04] ORESoftware opened #144 ".npm ignore images dir"
Hi all

Just wondering if you wouldn't mind adding the images dir to your` .npmignore` file?

When running du . on a node_modules installation I see:

[code]

In most cases you can .npmignore the test dir too, as most of the time that's not needed on NPM either, test dir is only needed on Github etc. thanks!

[2017-02-19 12:23] Marsup commented on #144
It's been ignored for a very long time, upgrade your boom module.

[2017-02-19 12:23] #144 closed

[2017-02-19 12:46] the1mills commented on #144
Well I looked in your .npmignore file...does the asterisk cover the images dir?

I am not importing your module directly, only indirectly so I don't hv control.

[2017-02-19 13:13] Marsup commented on #144
Then ask for an upgrade where it's used.

[2017-02-19 20:23] ORESoftware commented on #144
Turns out NPM ignores node_modules  anyway, you don't need to add it to
npmignore - what's in there after an install is to satisfy different
versions of same package.

On Feb 19, 2017 5:13 AM, "Nicolas Morel" <notifications@github.com> wrote:

[2017-03-02 09:55] dwelle opened #145 "Expose error name/error/statusCode in top-level"
Currently there's no easy way to determine what type of error we're dealing with if supplied as an argument down the line, e.g. when handling rejected promises I need to do this:

[code]

If I want to sacrifice readability for concision, at best I can access `err.output.statusCode`.

Seems fishy to have to access `output` to determine what type of error we're dealing with. I can't depend on `err.m

[2017-03-09 07:04] Kitanotori commented on #64
I wrapped the error simply this way:

[code]

[2017-03-17 10:44] simon-p-r opened #146 "Unauthorized"
When using unauthorized with negotiate scheme I cannot send back the token in the header, I want to return the header like this

**WWW-Authenticate: Negotiate <base 64 encoded string>**

I use boom like this, token variable being the base64 encoded string

                            return reply(Boom.unauthorized(null, 'Negotiate', token));

However I then get this in http response

    'www-auth

[2017-03-20 17:33] hueniverse commented on #146
This format is not supported. The third argument is expected to be an object. A PR would be fine, as long as it is super simple and clean.

[2017-03-20 20:08] hueniverse commented on #145
Replacing the name is a breaking change. I do fine with using the status code. Setting a new property should be fine.

[2017-03-21 06:53] hueniverse commented on #145
Duplicate of #138

[2017-03-21 06:53] #145 closed

[2017-03-21 06:58] #146 closed

[2017-03-21 07:10] hueniverse commented on #142
This should not be supported. Wrap is not meant to take a boom object and mess with it.

[2017-03-21 07:11] #142 closed

[2017-03-21 07:13] #138 closed

[2017-03-26 22:54] zaggino commented on #142
@hueniverse Isn't https://github.com/hapijs/boom/commit/3aa4a8c05e88646c22edac2e876411d8d3d61b06 a breaking change which should raise major version?
Before commit `.wrap` on `Boom` was a no-op and now it throws an error through assert.

[2017-03-26 23:48] niftylettuce opened #148 "Remove line from wrap function"
https://github.com/hapijs/boom/blob/master/lib/index.js#L76

This causes #139 to break...

[2017-03-28 11:55] dunnock commented on #148
Same issue, the condition is wrong https://github.com/hapijs/boom/commit/3aa4a8c05e88646c22edac2e876411d8d3d61b06#commitcomment-21496008

[2017-03-28 12:11] zaggino commented on #148
Related issue - https://github.com/hapijs/boom/issues/142

[2017-03-28 12:29] AdriVanHoudt commented on #148
PR's are always welcome ;)

[2017-03-28 12:32] dunnock commented on #148
I will take it

[2017-03-28 13:22] #148 closed

[2017-04-02 12:48] roytz opened #150 "Question about Boom response to the client"
Hi,
I really like using this package! Just one small question, I use Boom to return response to the client but Boom doesn't return all the fields (such as 'isBoom' or many other fields) and I wonder why? Of course there's data that I don't want the client to get for security reasons but if that's the case, why are those fields exist at all? I mean, who should use them (assuming it's not the client

[2017-04-02 14:12] arb commented on #150
https://github.com/hapijs/boom#faq

[2017-04-02 17:01] shai32 commented on #150
@arb its not answering the question, why do I need the isBoom and isServer?
I am creating the boom in the server, so I know its a boom and I know its status (isServer)
so its not needed.

[2017-04-02 18:21] Marsup commented on #150
Boom errors are serialized before being sent to the client, to do that the server needs some information, that's classic OOP. It's done this way because subclassing errors in JS is a nightmare, you can ignore those fields unless want to post-process errors.

[2017-04-02 20:33] shai32 commented on #150
So the logic how to serialize the boom is part of this package?
if so, where can I see it in the source code?

[2017-04-02 20:35] Marsup commented on #150
No it's in hapi. Out of curiosity why is that of any interest to you ?

[2017-04-02 20:49] shai32 commented on #150
If there is something that I don't see why its there, it can be for 2 reasons:
1. I Don't use the package as I should, so I need to understand what I am missing, and start using it right
2. less likely but it can be that the there is some improvement need to make to the package, so its good that it will be an issue open about it.

I still don't understand why isBoom is there, who use it?
hapi does

[2017-04-03 01:34] roytz commented on #150
@Marsup, Is this data should be used by a "middleware" of some kind? Like a microservice calling this API function and getting the (full) Boom response, process it. do whatever and only then pass it back to the client?

[2017-04-03 07:25] Marsup commented on #150
@shai32 hapi is using those fields, you didn't look hard enough.
@roytz usually to intercept routes replies and manipulate those errors to eg. add or remove information, or change the reply entirely.

[2017-04-03 18:59] AJamesPhillips opened #151 "Question regarding type of value in BoomError.output.headers"
Thanks for all your efforts and a great set of libraries!

The docs say:  "an object containing any HTTP headers where each key is a header name and value is the header content", just wanted to check that this means it's a dictionary where the values are only strings?  Or can they be something else.  I'm wondering as I'm submitting some updated types for boom: https://github.com/AJamesPhillips/Def

[2017-04-04 13:11] AJamesPhillips commented on #151
From looking at the code in boom I can only ever see a string being used as the value of the keys.  I'm going assume this is true for the moment and close this question.

[2017-04-04 13:11] #151 closed

[2017-04-18 17:16] jmonster opened #152 "Boom.badGateway( string, Boom.anything() )"
**Preface: Our use case may not be your use case; it's understood you may disagree with this concern.** That said...

We're using promises in our codebase. So imagine a scenario like the following...

[code]

Our server reports all errors that we `reply()` with to Rollbar. So, it's important for us to
1. return a decent human message like 'Unable to reach the API'
2. capture actual error data so w

[2017-04-19 13:08] arb commented on #152
Did you have a proposed solution or did you just want to start a conversation about possible solutions?

[2017-04-19 18:52] tevanoff commented on #152
@arb after looking at this a bit more, it looks like the root of the problem is this: https://github.com/hapijs/boom/blob/master/lib/index.js#L392

We haven't tested it out thoroughly, but if we change that to `if (data instanceof Error && !data.isBoom) {` it fixes the problem we're seeing since it avoids trying to wrap `data` when it's a Boom instance and just sets it on the created Boom instance

[2017-04-22 01:08] camfraser commented on #152
@tevanoff alternatively, you could adjust your call to `Boom.badGateway` to wrap the rejected data in an error. This is a technique I use regularly in our promise-based repos.
[code]

[2017-05-03 07:58] FraVieMor opened #153 "Additional error to payload instead to message"
Boom errors allows pass custom data like this:

`Boom.badRequest([message], [data])
`
Returns a 400 Bad Request error where:

- `message` - optional message.
- `data` - optional additional error data.

`Boom.badRequest('invalid query', 'additional error data');`

Generates the following response payload:

[code]
Without additional error data. This is because `data` is not added to payload like her

[2017-05-04 18:14] liviur commented on #153
Hi,

I have a similar issue,
I'm trying to create my own error:
`reply(Boom.create(500, 'Internal Server Error', { validation: validationErrors }));`
(Also tried with the `badRequest` method)

and I'm getting the generic:
[code]
while expecting something like:
[code]

Which can be manually achieved through:
[code]

Which is what I'm trying to avoid using Boom.

Would love to know what I'm missing.

[2017-05-05 15:11] arb commented on #153
Are you using hapi or are you using another http server?

[2017-05-05 15:28] liviur commented on #153
@arb - Using Hapi

[2017-05-05 18:59] arb commented on #153
Have you read https://github.com/hapijs/boom#faq ?

[2017-05-05 19:54] liviur commented on #153
Read it now. Thanks.
If so - what's the point of getting the data in the Boom object if I have to than manipulate it manually each time?

How is the data field used than? Whats a legitimate use case that i could see the data result without getting all "down and dirty"

[2017-05-05 20:38] arb commented on #153
It's there so you can make your own errors + have more complete logs on the server. hapi strips it out to prevent leaking data back to the client but (I THINK) logs the whole error.

[2017-05-10 17:13] jmonster commented on #152
I appreciate the suggestions, but our underlying goal is to capture the original error's stack trace. The [Boom docs](https://github.com/hapijs/boom/blob/master/README.md#boombadgatewaymessage-data) specify that arbitrary data can be passed in as the second parameter yet there exists some data that it doesn't like (i.e. anything with `isBoom: true`).

So I think we have either a bug in the code or

[2017-05-10 17:21] jmonster commented on #153
@FraVieMor your proposed solution is the only solution right now -- `message` must be a string. I think it would make sense for Boom to also accept an object, though.

@arb you're correct but unfortunately if error `isBoom` then [💥](https://github.com/hapijs/boom/issues/152) 🙊 -- https://github.com/hapijs/boom/issues/152

[2017-05-15 20:33] WesTyler commented on #152
So is the problem coming from the case when the `err` that gets caught is itself a Boom error object? Or do `TypeError`s and other Node.js `Error` objects also cause a problem?

[2017-05-17 00:39] tevanoff commented on #152
@WesTyler yeah, it's when the `err` is a Boom and we try to pass that in as the `data` attribute on another Boom object.  But it only seems to break when using the 5xx error helpers.

For example, this is the case that started breaking for us:
[code]

However, doing the same thing using create does work:
[code]

The 4xx error helpers also seem to work fine:
[code]

I'm not sure if there's a reason

[2017-05-17 10:47] AJamesPhillips commented on #152
@tevanoff that is an interesting question but also I'm curious what the use case is for changing the type of the error?  If it's a 500, 501, or 502 why not just return that?

[2017-05-17 14:23] jmonster commented on #152
Our API makes calls to another API. When that service returns a 5XX it is incorrect for our server to propagate the response; our server did _not_ error, it received an error from an upstream service. We want to reply with a `502` in that scenario -- for example.

As of wreck v12, 4XX responses are also considered errors. We _do_ generally want to propagate those statuses, but we want to return me

[2017-05-17 15:15] WesTyler commented on #152
This is my own personal speculation and not fact, so take it with a hefty handful of salt.

I think the discrepancy between 4xx and 5xx behavior is that for 5xx server errors you *typically* are not trying to expose details to the requesting client. Additionally, for server errors, you are usually catching JS errors. I would expect 4xx responses from outside APIs to be handled specifically in an e

[2017-05-23 15:03] alonl opened #154 "Boom.wrap with a provided message doesn't format the payload"
Boom.wrap with a provided message doesn't format the payload.

Reproduction steps:
[code]

The consequence is that I have to call `err.reformat()` after every call to `Boom.wrap` with a provided error message - is this the desired behavior?

BTW, to my observation, the problem is [here](https://github.com/hapijs/boom/blob/v4.3.1/lib/index.js#L124), where `reformat()` is called before the message i

[2017-05-24 12:30] EugeneAbramchuk opened #155 "Duplicate error code in both the error object and the payload"
There are two error codes entries, one of which is redundant, please consider dropping. In my view, the one in payload is the obsolete one.

[code]

This leads to duplicate information being logged once the object is unwrapped:

[2017-05-24 13:21] AJamesPhillips commented on #155
Hey @EugeneAbramchuk, was wondering what the challenge is with the duplicate information, can you just ignore one value (you choose)?

Also have you dug into the Hapi source code as any change would need to be compatible with that large code base.

Finally for client side scripts it is convenient to have access to the payload status code in a simple accessible way through the payload, though I'm n

[2017-05-24 14:03] EugeneAbramchuk commented on #155
@AJamesPhillips I understand your concerns about compatibility, though I still cannot fathom why would we need two duplicate statusCode keys in the same object - albeit at different hierarchy levels. Am I the first to ever raise this question? (seems so, for I cannot find any mentions of it anywhere)

The errors are logged "as is" without parsing them, therefore it ends up in the logs.

[2017-05-24 14:07] AJamesPhillips commented on #155
:)  Understood.  Perhaps useful, [have you checked out Good](https://github.com/hapijs/good)?  It gives you nicer error logs unless you're looking for the whole error message as is, but then you could use a custom handler function to format it (I haven't but I'm 99% certain it's easily doable).  If it's an uncaught exception you can also [use poop](https://github.com/hapijs/poop) (Thank hueniverse

[2017-05-24 15:49] arb commented on #155
It's like that because that's how hapi uses it.

[2017-05-24 17:43] #150 closed

[2017-05-24 17:45] #153 closed

[2017-05-25 07:23] hueniverse commented on #152
If you are passing a boom object into another, you clear mean to use it as data, not as the foundation for a new error. This is a bug.

[2017-05-25 07:24] #152 closed

[2017-05-25 07:49] hueniverse commented on #154
I am marking this as a breaking change because it will now set a message in the payload when non provided. I would normally release this as a patch but since this is going to change actual API response payloads in some cases, I feel the safe thing to do is a major.

[2017-05-25 07:50] #154 closed

[2017-05-25 07:52] hueniverse commented on #155
The error payload and the error data are not the same thing in some cases.

[2017-05-25 07:52] #155 closed

[2017-05-28 21:39] hueniverse opened #157 "Hide message on 500 when error is provided as data"

[2017-05-28 21:40] #157 closed

[2017-06-08 14:00] vguzev opened #158 "Can boom package be used only for server-side development?"
Hello,

First of all, guys, thanks a lot for your project! It really simplifies our backend tasks a lot! )

When we perform REST-request to the server it can:
1) return some data;
2) fail with server-side errors wrapped in Boom structure;
3) fail with some client-side errors (like timeout, network not found and etc).

In case №3 it is convenient to wrap error with Boom error structure as well (to

[2017-06-08 14:02] WesTyler commented on #158
To be fair, this is an npm package which in and of itself suggests usage in Node.js ...

[2017-06-08 14:13] vguzev commented on #158
@WesTyler When someone visit and read main page here https://github.com/hapijs/boom or here https://www.npmjs.com/package/boom he has no idea about such restriction... The only way is to try using it and fail... This is really annoying and frustrating experience.

[2017-06-08 14:32] sinxwal commented on #158
@WesTyler npm != Node.js.
We use npm packages to build frontend app on js, but don`t use Node on back at all.

[2017-06-08 14:48] WesTyler commented on #158
Fair point. :P

[2017-06-08 14:49] Marsup commented on #158
There can certainly be feature detection, but why would you want boom in the browser in the 1st place ?

[2017-06-08 15:43] vguzev commented on #158
@Marsup Let's suppose that we have the Hapijs-based backend, written by someone else. The REST specs say that every error is wrapped in magical "Boom structure". Usually on frontend we use superagent (https://www.npmjs.com/package/superagent) to request data from server. But superagent returns errors in different format, not compatible with Boom error messages.

So, in our code we have to do somet

[2017-06-08 15:49] WesTyler commented on #158
Should we do something like [Joi](https://github.com/hapijs/joi/#browsers)?

[2017-06-08 15:55] Marsup commented on #158
Hapi speaks http unless you query from the server and use `server.inject`, which is certainly not what a client would do. So you don't have to know boom or wrap boom on the client-side to do anything, all of its properties are hidden, all that remains is a code and a message. I still don't see why you need boom on the client.

[2017-06-08 15:59] vguzev commented on #158
@WesTyler Generally I see two options for further development:
1. Add some browser-detection features in current package. For example, instead of
```Error.captureStackTrace(...)``` do ```if (Error.captureStackTrace) { Error.captureStackTrace(...) }```. In this case you should transpile it to ECMA Script 3, so that this library is compatible with as many browsers as possible.
2. Fork this library t

[2017-06-08 16:05] WesTyler commented on #158
I personally would rather not add browser detection into Boom itself, but I'm not the decision-maker here :P.

I should have been more specific in my last comment. Should we do something like Joi and add a disclaimer at the bottom that says "This isn't intended for browser usage and probably won't work. If you need to use it, check out [this browser-specific fork](link-to-future-plugin)"

[2017-06-08 16:06] vguzev commented on #158
@Marsup We're programming in Typescript, not in pure "typeless" JavaScript... That means that the interfaces for both server-side errors and client-side errors must be the same. Looking back to the code above it should look like:
[code]
Of course we could create our own structure IError, and convert Boom errors to this format... but why should we do this when Boom's error structure is what we actu

[2017-06-08 16:08] Marsup commented on #158
From the client-side perspective you're still not getting boom errors, though boom is used to help passing them around and ultimately hapi will serialize them into something else to pass over http. That still doesn't seem to involve having boom as a client-side library.

[2017-06-08 16:10] vguzev commented on #158
@WesTyler Sure, that should be done now. And actually this is the second option from my previous comment https://github.com/hapijs/boom/issues/158#issuecomment-307148199.

[2017-06-08 16:11] WesTyler commented on #158
Regardless of the merits (or lack thereof) of having Boom in the browser, I think the main "action item" for this issue is to decide if Boom needs the disclaimer. Then if *someone* ;) wants to build a browser-compatible fork, the rest of the discussion could be had there.

[2017-06-08 16:12] Marsup commented on #158
I personally don't think it needs a disclaimer since this package doesn't make any sense in browser-land, but if it helps clarify any doubt...

[2017-06-08 16:14] vguzev commented on #158
@Marsup I've described above https://github.com/hapijs/boom/issues/158#issuecomment-307143351 how I found this package. The current description of the package doesn't say that it "doesn't make any sense in browser-land".

[2017-06-08 16:17] Marsup commented on #158
Let me know where you saw : `The REST specs say that every error is wrapped in magical "Boom structure".`, maybe this is what needs clarification. From where I stand, the hapi docs (https://hapijs.com/api#error-response) mention `When the error is sent back to the client, the response contains a JSON object with the statusCode, error, and message keys.`, which is quite clear.

[2017-06-08 16:19] WesTyler commented on #158
I actually agree here. But if people are missing something along the way, this doesn't cost us much and doesn't clutter the README too bad.

[2017-06-08 19:32] hueniverse commented on #158
As a general rule, I don't want to add anything that is not required because it does add complexity. It is more stuff people using this module need to read. I would treat this issues the same way I treat all other requests I don't see value in - let it sit and see if this is an issue shared by others. I don't make adjustments for one person when I disagree as a matter of practicality.

Specificall

[2017-06-09 11:02] vguzev commented on #158
OK, it's your decision. I'm closing this issue for now. I've got your confirmation that you're not going to support other browsers. So, we're currently in process of removing boom package from dependencies of our frontend projects.

[2017-06-09 11:02] #158 closed

[2017-06-09 11:16] Marsup commented on #158
It's not a question of supporting browsers, it doesn't make sense there!

[2017-06-29 19:23] cappslock opened #159 "Boom ignores Error message during wrap if statusCode is 500"
I'm unable to get Boom to create errors using the error.message when the status code is set to 500. I believe this is a bug as it conflicts with this bit from the docs:

Examples:
[code]

[code]

Haven't dug into the code, but I'm happy to take a crack at a PR if you agree this is a bug.

Boom 5.1.0, node 6.9.1

[2017-06-29 21:48] hueniverse commented on #159
Read the manual.

https://github.com/hapijs/boom/blob/master/README.md#http-5xx-errors

[2017-06-29 21:48] #159 closed

[2017-06-29 21:54] cappslock commented on #159
Yep, my bad.

[2017-07-02 08:54] mariecl opened #160 "Boom.wrap a Boom object throws an error"
#### What are you trying to achieve or the steps to reproduce?

I am trying to wrap a Boom object (whether it was an error that got wrapped before, or an error created with Boom).

[code]

or

[code]

#### What was the result you received?

In both cases:

[code]

#### What did you expect?

I expected no thrown error and Boom.wrap to return the original Boom object, as stated in the README:
[code]

[2017-07-02 18:31] hueniverse commented on #160
The error message is pretty self explanatory: "Cannot provide statusCode or message with boom error"

[2017-07-03 01:34] mariecl commented on #160
I am sorry but I don't see how this behavior is consistent with the documentation, especially since the behavior changed and the documentation did not. If I can only get my original Boom object back when I don't specify a `statusCode` and a `message`, then the documentation should specify it instead of reading `If error is already a boom object, returns back the same object`.

In my opinion, this

[2017-07-03 01:43] hueniverse commented on #160
This was always how `wrap()` worked. Not sure what changed exactly. We never supported overriding one boom error with a new status code.

[2017-07-03 02:23] mariecl commented on #160
I am not expecting the Boom error to be over-written, I am expecting it get returned unchanged. But I want non-Boom errors to be wrapped. Again, that's only useful when some other function returns an error that can or can not be a Boom object.

[code]

In the past:
- case input === 'a', the server would reply a 500,
- case input !== 'a', the server would reply with the previously defined 422 Unpro

[2017-07-03 02:42] hueniverse commented on #160
Past being what version?

[2017-07-03 02:43] mariecl commented on #160
As far as I can tell, the last working version was `4.2.0`.

[2017-07-11 17:30] Samueljoli commented on #160
@mariecl Would you happen to be working on a fix?

Seems like it's a simple solution, the author of that commit should of used double bangs in order to coerce those values into Booleans like so...
[code]

[2017-07-11 21:27] Nargonath commented on #160
@mariecl @Samueljoli If you happen not to have time to create the PR, I'll be happy to help.

[2017-07-12 00:51] mariecl commented on #160
I had not understood that @hueniverse was willing to take a PR on this but happy to work on something today just in case.

[2017-07-13 08:16] mariecl commented on #160
Done ✅

[2017-07-14 23:25] danielb2 opened #162 "Boom.wrap string fails"
Boom.wrap on an error converts it into a 500 error. Why not do the same thing for a string?

I tend to think of Boom.wrap to wrap things to make it easier, so why expect `Boom.wrap(new Error('blah'))` instead of just `Boom.wrap('blah')`.  Is there a good use-case for throwing errors on strings?

[2017-07-18 22:34] hueniverse commented on #160
I wasn't looking for a PR just yet... (I was on vacation).

There is no obvious right answer here other than another breaking change to clear this up or a secondary interface for your use case. I just need to pick one. I'll figure it out later today.

[2017-07-18 22:36] hueniverse commented on #162
Strings are not errors. This is not a valid use case.

[2017-07-18 22:36] #162 closed

[2017-07-18 22:41] danielb2 commented on #162
considering that the normal callback paradigm tends to be `(err, something) =>`  and standard practice is to consider err an error as long as it's not null, I don't think it's crazy to assume that err can be a string sometimes.

[2017-07-18 22:46] danielb2 commented on #162
I end up doing:

[code]

or check typeof(err) and if it's an error, then I wrap it in boom, otherwise I create an error.

But I do it so much, it would be easier if wrap just wrapped things and created Booms.  The name is generic enough.

[2017-07-18 23:44] #160 closed

[2017-07-18 23:46] hueniverse commented on #162
Nope. String is not an error. If anything passes string as an error, it's a bug. Fix that.

[2017-07-19 02:51] mariecl commented on #160
No worries. Thanks for considering this as a potential future enhancement and thanks for the good work!

[2017-07-30 09:29] AJamesPhillips commented on #160
@mariecl I'm sure you've already come up with a work around for your application.  If you have a single common entry point into your application did you decide to mutate / monkeypatch Boom with something like `.safeWrap = (...) => { if (error.isBoom) { ... } else { ... } }`?

[2017-07-30 09:31] AJamesPhillips commented on #160
We should definitely put in a PR to fix the docs though, you want to do this @mariecl ?  Otherwise I'm happy to.

[2017-08-01 02:31] mariecl commented on #160
@AJamesPhillips I think the documentation was already updated with [the new solution the maintainer came up with](https://github.com/hapijs/boom/commit/8b35a4c5f6dc706f3396cfed3f5cc5f60a5f6eb1).

[2017-08-11 03:38] phuonghuynh commented on #49
This is not support in native way?

[2017-09-06 16:18] Samueljoli opened #163 "Boomify Api default override options not working."
Not sure if the documentation or the source needs to be updated depending on actual intention. But when `Boomify` is given a non boom, plain Error object with message and statusCode set, override does not inherit those settings.

Eg.
[code]

If you notice the statusCode is set to `500` although my original error object had a statusCode set to 400.

`Defaults to true (apply the provided statusCode

[2017-09-06 16:20] hueniverse commented on #163
You can't create your own boom-like error and expect that to work. `override` is meant to be used only with a Boom object.

[2017-09-06 18:12] Samueljoli commented on #163
Hey @hueniverse,

 🤔 , then is this line in the documentation misleading? => `Defaults to true (apply the provided statusCode and message options to the error regardless of its type, Error or boom object)`

[2017-09-06 23:08] hueniverse commented on #163
No. `boomify()` is not expecting you to set boom properties on your error and then expect it to retain those. The status code is taken from either a `Boom` object or the arguments passed to the function. You are providing neither and ending up with the default value of `500`.

We can clarify that you cannot set your own `statusCode` on a non-`Boom` object and expect that to work. That's about it.

[2017-09-07 18:26] Samueljoli commented on #163
Hey @hueniverse,

That makes sense, but yeah maybe that little snippet would be helpful. It wasn't just me that found that to be a bit confusing.

[2017-09-20 09:01] mirzazeyrek opened #164 "SyntaxError: Use of const in strict mode."
This error message started to appear recently. Is there anything you guys suggest may be ?

/node_modules/grunt-sass/node_modules/node-sass/node_modules/request/node_modules/hawk/node_modules/boom/lib/index.js:5
11:16:32 const Hoek = require('hoek');
11:16:32 ^^^^^
11:16:32 SyntaxError: Use of const in strict mode.
11:16:32 at exports.runInThisContext (vm.js:73:16)
11:16:32 at Module._compile (mod

[2017-09-20 09:29] Marsup commented on #164
You're using a version of nodejs that's too old.

[2017-09-20 09:29] #164 closed

[2017-09-20 12:09] AdriVanHoudt commented on #164
I saw this passing by on twitter. Also broke request :P Hawk updated to a version of hoek that started using const with a minor or patch bump...

[2017-09-20 14:38] Marsup commented on #164
It's pre 4, nobody should be using those versions today, it's insecure.

[2017-09-20 14:53] esphen commented on #164
Well, it's used by hawk, which is used by request, which is used by node-sass, which is used by grunt-sass. So now the sass-files of our legacy webapps aren't building on the CI without us doing any changes to our dependencies :)

[2017-09-20 15:24] mirzazeyrek commented on #164
@esphen this is exactly what we are going through luckily I was able to find a solution after some digging through the web!

https://github.com/sass/node-sass/issues/2100#issuecomment-330881630

@Marsup Yeah but it's not always possible to convince your p.m. to give some time to just update npm and solve all the errors from legacy packages during the process !

[2017-09-20 18:23] pagameba commented on #164
This has broken all our ci and deployments, agreed nobody *should* be using those versions but some of us are stuck with legacy systems.  Semver.

[2017-09-20 18:30] AdriVanHoudt commented on #164
See https://github.com/request/request/issues/2772#issuecomment-330879495 for more info.

[2017-09-20 20:24] Marsup commented on #164
It doesn't seem to be our fault here, but as you already found out, shrinkwrap is your friend for legacy apps. Or any app you release really. FWIW request has been declaring support for node engine >= 4 since 11 months according to the commit log, you have probably seen those warnings months ago in your npm logs and willfully decided to ignore it, it's a bit unfair to wake up now.

I hope you care

[2017-09-21 17:32] AdriVanHoudt commented on #164
Even more context if you want https://medium.com/@eranhammer/on-being-operationally-incompetent-4ca4fbccbf98

[2017-09-26 05:21] hueniverse opened #165 "Node v8"

[2017-09-26 05:21] #165 closed

[2017-09-26 06:50] mcollina opened #166 "lower the Node requirement to Node 6"
Boom is used in other modules that are not part of Hapi, and it might be handy to keep it compatible to Node 6 for the time being. Boom works on Node 6, or at least my tests are not failing on Node 6 because of unsupported syntax.

[2017-09-26 07:47] Marsup commented on #166
Boom is pretty stable, if you need guarantees why not stick to 5.x ?

[2017-09-26 08:33] mcollina commented on #166
Because it’s really stable, why removing Node 6? And to some extent Node 4?

Blocking a version means that at some point, it would become obsolete, and the cost of migrating will be higher. I get that some libraries might require Node 8 for async/await or other key features, but Boom seems done.

[2017-09-26 09:53] kanongil commented on #166
Setting less than 8, would mean that boom can't use the latest `hoek`, which keeps it from receiving the latest updates, and requires an install of hapi to install two versions of `hoek`.

[2017-09-26 10:40] StarpTech commented on #166
I don't understand why the hapi ecosystem is moved to 8 when the current LTS Version is 6 https://github.com/nodejs/Release#release-schedule @kanongil hoek is compatible with Node 6 only the tests are using Async / Await. Some syntactic sugar is preferred over accessibility. That's sad.

[2017-09-26 11:02] AdriVanHoudt commented on #166
@StarpTech The LTS of 8 is in 1 month(? not sure when exactly, graphics say october but json states 31st of oct) so hapi is moving to that in preparation, since moving takes a while

[2017-09-26 11:06] mcollina commented on #166
It’s on the 31st of October.

[2017-09-26 11:08] StarpTech commented on #166
@AdriVanHoudt Node 6 is still maintained until 2019 and what's the need do you see to change to 8 ? Only to use async / await in tests?

[2017-09-26 13:07] AdriVanHoudt commented on #166
@StarpTech I would async/await everywhere not only in tests. If it is about Boom it is more about the whole hapi ecosystem moving to node 8 at once. See @kanongil's comment for example.

[2017-09-26 13:25] Marsup commented on #166
v17 is setting a baseline on node 8, who said we abandoned v16 though ?

[2017-09-26 19:35] hueniverse commented on #166
hapi v16 will be supported until node v4 is out of LTS. That means security and critical bug fixes. You can safely stay on hapi v16 for a while. It does mean no more improvements across the core ecosystem, but will include bug fixes and security fixes. Individual maintainers of the core modules (such as boom and hoek) will have the freedom to push out new versions of the node v4 supported modules

[2017-09-26 19:35] #166 closed

[2017-10-04 03:38] sholladay commented on #166
I just want to say that, personally, I'm excited to see the hapi ecosystem continue to stay on top of new Node releases soon after they come out and use them as a baseline. I'm so sick of other tech stacks that age and rot badly because they are slow to update their dependencies. It often results in long-lasting security vulnerabilities. Thanks for all of your hard work maintaining it all. ❤️

[2017-10-19 17:33] csrl opened #168 "set isDeveloperError when statusCode is 500"
I want to mask 502, 503 and 504 errors as 500 errors to return to the client.  I do not want to expose internal details that a particular endpoint is a proxy or makes additional internal service requests that result in an eg. 502 bad gateway error.  For my purposes, this is acceptable.

In my attempt to make that so, if an error occurs on an internal request, I wrap it with Boom.boomify(err, {stat

[2017-10-20 06:01] csrl commented on #168
Alternatively, it'd be great if Boom.badImplementation would just accept any input error, regardless if it is already a Boom error, and convert it to a 500 error.  It seems like a pretty acceptable concept, that some internal request has failed, and that should be returned as a 500 error to the client, regardless of what type of error it was.

[2017-11-02 19:52] stringbeans opened #169 "Docs should display Node versions supported"
Maybe a minor issue, but I noticed your documentation doesnt specify which node versions are supported. I'm currently using Node 5.11 and this package does not work because the dependency `hoek` has a function defined like so: `exports.assert = function (condition, ...args) {}` and the `...args` spread syntax is not supported

[2017-11-02 20:19] WesTyler commented on #169
Good call. We have a similar PSA on many other hapi repos. I'll do this right now.

[2017-11-02 21:01] Marsup commented on #169
I've never seen any module do that. Developers know how to read a package.json usually.

[2017-11-02 21:03] WesTyler commented on #169
I would have bet money that at minimum Glue and Hoek had that.. but now I can't find it... I may very well be crazy.

[2017-11-02 21:34] stringbeans commented on #169
thanks guys :)

[2017-11-02 22:43] hueniverse commented on #169
I don't want to start doing that on dozens of modules when the package.json is the sole authority. We work hard to keep the engine setting up to date.

[2017-11-02 22:43] #169 closed

[2017-11-03 00:07] hueniverse opened #171 "Remove wrap() and create()"
Add new `Boom()` method.

[2017-11-03 00:07] #171 closed

[2017-11-03 00:14] hueniverse commented on #168
Just pass the boom error as the second argument to `badImplementation()`.

[2017-11-03 00:14] #168 closed

[2017-11-03 00:16] hueniverse commented on #163
I don't know how to clarify this. You are passing an object with a random `statusCode` property. That's not even a thing on **boom** objects...

[2017-11-03 00:16] #163 closed

[2017-11-03 06:15] csrl commented on #168
Well that was simple.  Thanks.

Still, I don't see why 500 responses are treated differently.  I'm not sure under what circumstances a 500 error could be produced that isn't an implementation error deserving of the 'implementation' tag.

[2017-11-03 06:32] hueniverse commented on #168
Errors such as `SyntaxError` are developer errors. The one you listed are not.

[2017-11-03 07:23] hueniverse opened #172 "Add decorate option"

[2017-11-03 07:23] #172 closed

[2017-11-03 18:03] hueniverse opened #173 "Support instanceof"
Breaking change is `new` is now required.

[2017-11-03 18:04] #173 closed

[2017-11-04 16:15] roytz opened #174 "Can't find boom-7.1.0.tgz"
I know it's probably not the place but any idea why I suddenly get this error

whenever I run `yarn`?
I've been using hapi an boom for a long time now and this is the first time I get this error

[2017-11-04 16:20] #174 closed

[2017-11-04 18:51] stringbeans commented on #169
@hueniverse @Marsup  i think thats fair, i should've checked the package.json to verify which version of Node is supported. However, something tells me that the current setting `>=8.9.0` is inaccurate... i wouldnt think that `boom` is ONLY supported by the latest version of Node...

[2017-11-04 19:25] Marsup commented on #169
That's not what it supports but what we target. If you assume differently you take the risk of being hit by a breaking change for you that we don't consider breaking because it's within the range we declare.

[2017-11-06 02:53] csrl opened #175 "add Boom.serverError() helper method for 500 response status"
In issue #168 it was clarified that `Boom.badImplementation()` use case was for "developer errors" (eg. coding mistakes such as a `SyntaxError`), and not suitable for other types of server errors, such as a resource not being available.

So, this is a request to add a generic `Boom.serverError()` helper method.  Ideally, it would be done in a compatible way with hapi logging such that the full err

[2017-11-06 05:40] hueniverse commented on #175
That's just `Boom.internal()`

[2017-11-06 20:51] twhitbeck commented on #174
why did you close this?

[2017-11-06 20:53] twhitbeck opened #176 "what happened to v7.1.0"
trying to figure out what's going on here.

Why is v4.1.0 listed as the "latest" release in GitHub? npm says (right now) that v7.1.1 is the latest.

At one time, there was a v7.1.0 on npm. Where did it go? Did you unpublish it? Users of yarn are going to be bitten by this, since 7.1.0 tgz is referenced in the `yarn.lock` file.

[2017-11-06 22:47] csrl commented on #175
The documentation just shows Boom.internal() as an alias of Boom.badImplementation().  But now I see that it is not.  Thanks.

[2017-11-07 10:02] hueniverse commented on #174
You don't need 7.1.0. Just install latest.

[2017-11-07 10:11] hueniverse commented on #176
What yard.lock file are you talking about?

[2017-11-07 10:12] #175 closed

[2017-11-07 12:38] twhitbeck commented on #176
I meant a user of yarn, if they had installed when 7.1.0 was available, then 7.1.0 is listed in their project's `yarn.lock` file. npm version >5 has similar behavior with `package-lock.json`. I don't know for sure how npm will respond if the `package-lock.json` file lists boom 7.1.0. Yarn just blew up with error about unable to find 7.1.0 tgz in the yarn registry.

I guess unpublishing is your cal

[2017-11-07 12:38] #176 closed

[2017-11-07 18:58] hueniverse commented on #176
Sounds like breaking for those users is the right outcome because they need to be forced to update their dependencies.

[2017-11-09 20:22] jineshshah36 opened #177 "Where can I find a changelog?"
I'm on v6.0.0 and I want to updated to v7.1.1, but I can't find a changelog anywhere. I'm not sure what changes are breaking.

[2017-11-09 20:37] hueniverse commented on #177
https://github.com/hapijs/boom/issues?q=label%3A%22breaking+changes%22+is%3Aclosed

[2017-11-09 20:37] #177 closed

[2017-12-15 08:21] hueniverse commented on #164
https://github.com/request/request/issues/2831

[2017-12-18 11:16] niftylettuce opened #179 "deleted"

[2017-12-18 11:17] niftylettuce commented on #179
Furthermore, our usage of `hoek` does not even use the `wait` nor `block` functions that require Promises.

[2017-12-18 11:19] niftylettuce commented on #179
Also, the `hoek` `wait` and `block` functions basically do absolutely nothing that wouldn't be trivial to write manually with the same one-liner wherever these methods are necessary imo.

<img width="664" alt="screen shot 2017-12-18 at 6 18 34 am" src="https://user-images.githubusercontent.com/523141/34103633-6e097d5a-e3bb-11e7-9909-310b4d8bfbb6.png">

<img width="347" alt="screen shot 2017-12-18

[2017-12-18 11:22] niftylettuce commented on #179
you could use `delay` in place of `wait` btw

[2017-12-18 14:36] Marsup commented on #179
Use an older version of boom, we're not going back, it's been debated to death in other repos.

[2017-12-18 14:37] niftylettuce commented on #179
Can you provide links to the discussions in other repos?  Just because of lengthy debate does not mean it's solved.  This is a core problem with this package and it is clearly against npm principles.  To design a package based off other repos bad practice is not proper.

[2017-12-18 14:38] Marsup commented on #179
It is not. All packages have been major-bumped in consequence of our requirement on node 8, don't want that, use old packages.

[2017-12-18 14:41] niftylettuce commented on #179
You don't seem to realize how many other packages depend on Boom?

1807 packages depend on this

<img width="206" alt="screen shot 2017-12-18 at 9 40 42 am" src="https://user-images.githubusercontent.com/523141/34111374-89413826-e3d7-11e7-956a-dd4e432e0024.png">

It does not make sense to fix a core issue that is going to make 1807 packages need to upgrade their version of Node.js, for something t

[2017-12-18 14:42] Marsup commented on #179
Then don't require the latest, what is so hard to understand about it ?

[2017-12-18 14:43] niftylettuce commented on #179
This is pure laziness as a developer and community to do this to 1807 packages.  The features that would impose this version are not even relevant to this package.  Quite absurd.  If every package did this the entire npm community will fall apart more so than it may already have.

[2017-12-18 15:14] Marsup commented on #179
No dependency package **needs** to upgrade, none at all. Upgrading to a major version requires due diligence of looking what happened to the project that's being bumped, blindly doing it can only result in what you describe and I would hardly put the blame on the project for my mistake.

As to why the decision was taken, it was
1) to nudge the community to move to what we think is a more modern ec

[2017-12-18 15:16] #179 closed

[2017-12-18 15:17] niftylettuce commented on #179
we will fork and republish instead

[2017-12-18 15:23] Marsup commented on #179
This looks unreasonable but fine by us.

[2017-12-18 18:58] hueniverse commented on #179
![capture_d_____cran_2017-12-18____16 18 07-fullpage](https://user-images.githubusercontent.com/56631/34122617-f1e8fb98-e3e1-11e7-914e-36d7f6adb043.png)

[2017-12-18 19:10] hueniverse commented on #179
@niftylettuce You want to talk about proper process and policies? How about not deleting you side of a thread after wasting someone's time? I am not surprised you did that because this thread does make you look like a bit of an ass. Unfortunately, we have it saved...

I consider this action to be sufficiently hostile to ban someone from the hapijs organization so consider this your first and last

[2017-12-19 21:20] miruiz opened #181 "Using new with Boom.unauthorized causes `is not a constructor` exception"
I recently upgrade boom in a project of mine and I started getting `is not a constructor` errors when using the `new` keyword.

So I created a small test project to eliminate complexity, and still get the error.

here's the entirety of my test project code...

[code]

package.json dependencies look like this:

[code]

and the resulting error is...

[code]

Node version is 8.1.2

Is this expected b

[2017-12-19 21:49] arb commented on #181
Per the package.json file, the required node version is `>=8.9.0` Can you update and see if that makes a difference?

[2017-12-19 22:14] miruiz commented on #181
Thanks for getting back to me! I took these steps...

1. upgraded node to latest (v9.3.0)
2. deleted my test project
3. Recreated my test project with a fresh `npm init` and fresh install of boom ^7.1.1

and I'm still seeing the error.

I did `console.log(b.forbidden);` and the output is

[code]

so `forbidden` should be something. I've also tried a few other error types (`unauthorized` and `serve

[2017-12-20 01:06] hueniverse commented on #181
Cause it is not a constructor!

It is not `throw new Boom.forbidden('hit the test');`
It is `throw Boom.forbidden('hit the test');`

That is what "not a constructor" means. You cannot use `new`...

[2017-12-20 01:06] #181 closed

[2017-12-28 08:11] teemuniiranen commented on #109
I have same sort of problem but in case of ECONNRESET:
[code]

Is this because of Boom version (4.1.0) or why? Code that causes the problem:
[code]

[2018-01-11 09:29] PinkyRabbit opened #183 "How to catch server errors into expressjs"
I create question [into stackoverflow](https://stackoverflow.com/questions/48198438/how-to-catch-errors-in-express-server-side).

I trying to use **boom**. Ok. All Clients errors displays fine. Now I want to log my server side errors and... and I dont know where to start. Standart 500 error is simple. But what about others? Here is 5 different types of errors. How I must catch it?

My server confi

[2018-01-14 20:37] jfoclpf opened #184 "error with 'const'"
This portion of the code is giving error

[code]

[code]

https://stackoverflow.com/questions/22603078/syntaxerror-use-of-const-in-strict-mode

[2018-01-15 10:25] #184 closed

[2018-01-15 10:45] hueniverse commented on #183
This is the wrong place to ask for helping using express. What you want has nothing to do with boom. This module generates errors. After that, that's your problem.

[2018-01-15 10:45] #183 closed

[2018-03-13 22:14] FelipeBarrosCruz opened #189 "Accept object or array like error message"
`Input`
[code]
`Output`

[code]

[2018-03-14 19:06] #189 closed

[2018-03-17 20:45] julianheissl opened #191 "SyntaxError: Unexpected token ="
Hi,

Boom npm package gets installed on my local machine OSx perfectly. But when i try to install it on my server with AWS EC2 instance, it gives following error:

node_modules/boom/lib/index.js:80
    constructor(message, options = {}) {
                                 ^

SyntaxError: Unexpected token =
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    a

[2018-03-18 03:25] hueniverse commented on #191
Check your node versions.

[2018-03-18 03:25] #191 closed

[2018-03-19 16:20] sethlivingston commented on #49
More recent solution:
[code]

[2018-03-20 19:21] damusix opened #192 "Override Boom messages"
Can there possibly be way to override `internals.codes` messages so they are translatable?

[2018-03-21 04:45] damusix commented on #192
This is true. I can always rewrap responses, but was wonder if it would be reasonable to request this. I am attempting to keep things as minimal as possible, eg:

[code]

But I am also wanting to give my app translations including errors since they will be used on the frontend.

[2018-03-21 06:12] hueniverse commented on #192
If @arb wants to export the internal object, I am not going to object.

[2018-03-21 13:24] arb commented on #192
@damusix in my experience it's atypical to do translations on the back end like that. The front end should have some kind of dictionary to map status code 404 to whatever language you'd like the user to see. Why do you want to do this on the back end?

[2018-03-21 17:29] danielwpz opened #193 "XSS vulnerability in reformat"
This PR (https://github.com/hapijs/boom/pull/3/files) tried to fix a XSS issue in `reformat` function, however, the latest versions reverted this change and now it's vulnerable again.. Any specific reason why we don't keep this change?

[2018-03-21 21:11] hueniverse commented on #193
This was part of a general shift to move the responsibility of message security to the app. The same was done in joi validation errors.

[2018-03-21 21:11] #193 closed

[2018-03-23 16:39] damusix commented on #192
@arb Really it was to avoid a dictionary map; but you're right, I should just make one given that I will probably end up making one anyways. Thanks for the quick response.

[2018-03-23 16:39] #192 closed

[2018-04-17 10:24] Seluj78 opened #194 "Python port"
Do you think a python port would be doable ?

[2018-04-17 13:35] arb commented on #194
I'm not sure I understand the question. Sure, if someone in the python community wanted to port this that would be fine.

As far as the license goes, I am not an expert, so I'd have to der to @hueniverse if there are any legal concerns (I sort of doubt that there is though)

[2018-04-17 13:38] Seluj78 commented on #194
Well, I'm currently building a python API and stumbled upon `boom`. I like the project and all, but I'm working with python, not js :smile:

[2018-04-17 14:05] hueniverse commented on #194
Nothing is stopping you...

[2018-04-17 14:05] #194 closed

[2018-04-27 11:53] jfoclpf opened #195 "Update hoek package"
Could you kindly update `hoek` package?

[code]

That version is giving warnings in gituhub regarding security vulnerabilities.

[2018-04-27 12:49] Marsup commented on #195
There's nothing we can do, it's request's job.

[2018-04-27 12:49] #195 closed

[2018-04-27 12:53] Marsup commented on #195
Actually no, it's github's job, hoek 4.2.1 is not vulnerable, it's a false positive.

[2018-04-27 13:00] ashawley commented on #195
I'm here for CVE-2018-3728, as well.  Indeed, 4.2.1 is a false positive on GitHub's part.
 https://hackerone.com/reports/310439

[2018-04-27 13:51] jfoclpf commented on #195
ok, understood

[2018-05-01 02:52] thepont opened #196 "v7.2.0 introduces breaking changes for environments that don't have const."
I'm currently running a production environment and testing it's builds on node 4. Recently boom started using the const keyword, (without transpiring) this has broken this build due to the dependency chain `babel#chokidar#fsevents#node-pre-gyp#request#hawk` (the build is using "babel": "5.8.34").

https://github.com/hapijs/boom/compare/v7.1.0...v7.2.0

Error:

[code]

[2018-05-01 03:00] thepont commented on #196
issue caused by https://github.com/request/request/commit/479143d546d6dff378da0e5fac5801dd3bf01f15

[2018-05-01 03:00] #196 closed

[2018-05-13 05:29] erfanio opened #198 "Include message when converted to json"
I think most people log their errors in a json formatted file or something similar. But in doing that the message that the error was created with isn't being preserved in `>= 500` errors.

Current behaviour
[code]
[code]

[2018-05-13 06:16] erfanio commented on #198
One option to fix this is to have a `toJSON` function on the error that will add the message to the object just before stringifying.

Something like adding this to `lib/index.js:395`

[code]

[2018-05-13 08:39] hueniverse commented on #198
Boom is an Error object. We are not going to change how JS does this.

[2018-05-13 08:39] #198 closed

[2018-05-18 10:02] mattcoll opened #199 "Angular 6"
Hi, I am building a new Angular 6 web app and I am getting a moderate error regarding one of the dependencies of boom. If there is no breaking change are you able to update the hoek version >= 5.0.3

This is the error:
https://nodesecurity.io/advisories/566
Versions of hoek prior to 4.2.1 and 5.0.3 are vulnerable to prototype pollution.

Thanks

[2018-05-18 10:08] Marsup commented on #199
boom already takes the latest of hoek by virtue of semver, if you get something else, that's not because of boom.

[2018-05-18 10:08] #199 closed

[2018-05-18 10:13] mattcoll commented on #199
Ok, Thanks!
What would you suggest?
If Angualr 6 is using karma > log4js > loggly > request > hawk > boom > hoek
Do i just go back up the tree and make sure all modules are using the lastest?

![screen shot 2018-05-18 at 7 40 25 pm](https://user-images.githubusercontent.com/19816080/40229457-6e712a6a-5ad3-11e8-9965-5ee18566850f.png)

[2018-05-18 10:17] Marsup commented on #199
`npm ls hoek` and see if you actually have a vulnerable version, it might just be the tool that you're using to scan that is confused.

[2018-05-18 10:31] Marsup commented on #199
Both formats will get fixed versions. What worries me are projects stuck with old versions of request like in karma and node-sass, there's nothing we can do to make them move, so you'll have to ask them.

[2018-05-18 10:33] mattcoll commented on #199
Yeah, makes things very difficult. I will try get something from them.
Thanks again for your help!

[2018-05-19 17:34] rohit103 commented on #127
Hi @arb can you please check. I am not able to find documentation for Boom.internal(err) still in the official docs: https://www.npmjs.com/package/boom Am I looking at the wrong place?

[2018-05-19 18:04] arb commented on #127
https://github.com/hapijs/boom#boombadimplementationmessage-data---alias-internal

[2018-05-30 22:34] kswope opened #200 "new boom vs boomify docs misleading"
From the docs

So I'm expecting the same output from both, but the constructor version doesn't remove the stack trace or the message

[code]

[code]

[2018-07-10 03:01] drkohlipk opened #201 "Security vulnerability in `hoek`"
I'm sure you guys know about this already, but wanted to make it official.

When I run `npm audit` on the my React project that uses the `node-sass` npm module, I get several moderate security vulnerabilities related to the `hoek` dependency. It seems there is a patch available, but it requires that you update `boom` so that it will use `hoek` version `>=5.0.3`:

[code]

[2018-07-10 03:12] WesTyler commented on #201
Duplicate of many many issues here already.

[2018-07-10 03:12] #201 closed

[2018-07-27 14:49] tcoz opened #202 "Vulnerable version of hoek in Boom."
Ran an inspection on my repo today, hoek came up as a known vulnerability.

Here's the fragment from the package.lock:

"boom": {
      "version": "2.10.1",
      "resolved": "https://registry.npmjs.org/boom/-/boom-2.10.1.tgz",
      "integrity": "sha1-OciRjO/1eZ+D+UkqhI9iWt0Mdm8=",
      "dev": true,
      "requires": {
        "hoek": "2.x.x"
      }
    },

Any chance you can upgrade hoek (it's

[2018-07-27 15:54] Marsup commented on #202
Upgrade your version of boom and you'll get it.

[2018-07-27 15:54] #202 closed

[2018-08-04 12:29] dejitaiza opened #204 "Lack of call to super() breaks bundling boom for the browser"
Hello amazing Hapi community,

I am trying to bundle an npm module that depends on boom, and I get this error (that seems to be related to babel parsing):

[code]

Adding a call to `super()` in the constructor seems to resolve it.

Now I am not sure if this should be reported to Boom or to Babel, so please excuse me if this issue is irrelevant, however by looking at this constructor's implementati

[2018-08-04 14:08] kanongil commented on #204
Duplicate of
https://github.com/hapijs/boom/pull/185.

[2018-08-04 14:08] #204 closed

[2018-08-09 14:09] 5c077m4n commented on #200
Also, why is the message in the payload not the same as the one on the top level? (not to mention that the boomify() doesn't give a message at all...)

[2018-08-10 16:32] thepag commented on #200
The `new Error('message')` is not being passed for the (default) 500 errors.

If you set the options to 400, then the `message` does get carried to the Boom payload message property.
[code]

Setting the code to the default did not work:
[code]
The message was always:
[code]

The `message` appeared to be transfered for all `statusCode` I randomly tried, except for the default.

[2018-08-10 16:43] thepag commented on #200
I see hiding the 500 error message is intentional. https://github.com/hapijs/boom/blob/master/lib/index.js#L419-L421

[code]

Please update the docs. Thank you for sharing.

[2018-08-10 19:45] hueniverse commented on #200
First, it is already clearly documented: https://github.com/hapijs/boom#http-5xx-errors
Second, who exactly are you asking to update the docs? Why not just make a PR and contribute?

[2018-10-17 16:08] martimarkov opened #205 "Getting Cannot wrap an error when passing an Error object to boomify"
In my handle function I'm having an error with boomify:

[code]

I also tried:

[code]

Am i using this wrong?

[2018-10-22 13:54] Marsup commented on #205
Why don't you throw a `boom.badRequest("Unexpected input")` ?

[2018-10-22 22:46] martimarkov commented on #205
Hahaha... I feel stupid now. Because I didn’t know that hapi automatically handled boom exceptions or in general exceptions. I don’t know how I missed that.

[2018-10-22 22:46] #205 closed

[2018-10-30 17:21] #200 closed

[2018-11-01 07:26] hueniverse opened #206 "Update hoek v6"

[2018-11-01 07:27] #206 closed, assigned to hueniverse

[2018-11-02 05:46] adanilev opened #207 "Required node version increase is breaking"
Hi there,

This increased node version requirement turned out to be a breaking change for my project: https://github.com/hapijs/boom/commit/2790af39cb1dc0bce3b94e4ce75b1f046f7e29fa

We're building Lambda functions and use a package called [serverless-s3-local](https://github.com/ar90n/serverless-s3-local) which is dependent on [cryptiles](https://github.com/hapijs/cryptiles) which is dependent on

[2018-11-02 07:46] hueniverse commented on #207
In general, we do not officially support yarn. With npm, engine is informational only and we have been updating the engine value to the latest supported node version every few months to reflect what our CI environment is running.

Is the issue here your local yard deployment or is AWS actually blocking the code from running due to the engine change?

[2018-11-02 17:02] johannes-scharlach commented on #207
So yarn does check the engines field during install and the installation aborts when it encounters a version requirement that's not satisfied.

This affects all `yarn install` s including adding or removing dependencies. Switching to npm is not really an option, as I do rely on some yarn features (namely workspaces and resolutions), so the only workarounds are either forcing the usage of an older

[2018-11-02 18:59] hueniverse commented on #207
See: https://github.com/hapijs/hapi/issues/3859

I am sorry this is an inconvenience but that's how we maintain the hapi ecosystem, especially core modules. You can add the flag to ignore engines in your `.yarnrc` file too.

[2018-11-02 18:59] #207 closed

[2018-11-02 23:49] hueniverse opened #208 "Remove engines"

[2018-11-03 00:16] #208 closed

[2018-11-07 15:42] ikokostya opened #209 "More safe way to detect boom error"
**Versions**

* node `v8.11.4`
* boom `7.2.0`

**Problem**

There are two ways for detecting boom errors:

* `Boom.isBoom()` function
* `err.isBoom` property

Both are not "safe". For example, `Boom.isBoom()` function returns false positive result for non-boom error:

[code]

**Suggestion**

Use [Symbol](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol) inste

[2018-11-07 16:42] hueniverse commented on #209
We could though I don't see this as a real problem. It's still JS and if you want to create fake boom errors, why should I try and stop you...

[2018-12-01 02:19] SimonSchick opened #212 "boom overrides existing properties on errors"
Title says all, I know this has been the case forever but imo boom should not alter thrown exceptions but instead wrap them and keep a reference to the `original` or `innerError` if you will.

If boom wishes to store extra information on errors I think it use non-enumerable symbols and not mess with user land objects.

[2018-12-01 08:57] hueniverse commented on #212
This is not going to change.

[2018-12-01 08:57] #212 closed

[2018-12-09 18:01] gkatsanos opened #213 "Change default object structure"
Besides direct manipulation post-boom-object creation, I was wondering if there's an option or config which can instruct Boom to not generate an
[code]
object but rather have it all flattened/unnested ..

The problem is I want to `delete` the stack (from production environments) and as I have both native Error objects and Boomified ones I find myself having to do 2 delete operators but also I need

[2018-12-09 18:56] gkatsanos commented on #213
To demonstrate, I have to do this:
[code]

[2018-12-11 14:37] Dervol03 opened #214 "Add #unprocessableEntity for #badData"
Hey guys.
First of all: thanks for this nice package.

However, when using it, I stumbled upon a confusing part of it: when I tried to trigger an `422 Unprocessable entity`, the method did not exist as `Boom.unprocessableEntity`. I had too look through the documentation to find that for this ONE HTTP Status, the method has a totally different name, based in its semantics `Boom.badData`. I don't mi

[2018-12-11 20:39] roux1max commented on #214
Hey !

I think you could make a PR for this ;)
The code of this lib is pretty simple so if the maintainer wants to include it he will, if not he won't :)

[2018-12-14 08:39] Dervol03 commented on #214
Hi,

you are right and I actually would have opened a PR on this request, IF it didn't also involve changing the the interface definition in the `DefinitelyTyped` project. I've had to work twice with these people and it was a very unpleasant experience both times. Therefore, I don't touch any project that doesn't include its TypeScript typings itself, anymore. :slightly_frowning_face:

[2018-12-15 07:40] hueniverse commented on #214
Happy to take a PR.

[2018-12-15 07:42] hueniverse commented on #213
Because that's what hapi uses to transmit the error back as an HTTP response.

[2018-12-15 07:42] #213 closed

[2018-12-15 08:06] gkatsanos commented on #213
Anything we can do to configure that?

[2018-12-15 09:42] hueniverse commented on #213
Configure what? What are you trying to solve? How do you end up with the stack in payload?

[2018-12-16 22:46] gkatsanos commented on #213
When I do a `const boomedError = new Boom('Validation failed', { statusCode: 422, data: err });` for example, the resulting object looks like:

[code]

So my question was if I can configure Boom so that I can have my own structure in the resulting object.

e.g. "status" instead of "statusCode", or, instead of having boomedError.output.payload.error / boomedError.output.payload.statusCode, to have

[2018-12-16 23:40] hueniverse commented on #213
You can do whatever you want but if you expect hapi to know what to do with it, then no. If you are not using boom with hapi, just create your own error module.

[2018-12-17 07:19] gkatsanos commented on #213
I use express.
What do you mean create your own error module? Can you provide an example for reformat() ?
Many thanks!

[2018-12-17 10:02] hueniverse commented on #213
I mean don't use boom. It is designed specifically for hapi. If you use express, a lot of its internals are meaningless to you. This module will always be about using it with hapi. It works with express, as is but if you need something a bit different, you need to fork and write your own solution. I think there is one such fork already but I don't know the name.

[2018-12-17 10:15] gkatsanos commented on #213
Oh, okay! I was looking for similar solutions and Boom seemed by far the most popular. But indeed, it makes sense.

[2018-12-18 07:20] Dervol03 commented on #214
From a TypeScript user's perspective, I can't see both project in a separate way, as a change in one, without the same change in the other, won't bring me forward.
So, I'm sorry for being irrational. And if you decide to support TypeScript one day, either by moving the code to TypeScript or by adding own typings, I'll be happy support you. But as long as every change here relies on own submissions

[2018-12-18 07:33] #214 closed

[2019-02-15 09:16] kilgarenone commented on #116
Hi, sorry I just knew about this library- is this `Boom.wrap(err, 400)` still valid? If not, what's the alternative?

[2019-02-15 15:22] WesTyler commented on #116
For the latest version of Boom, check out the [`boomify` method](https://github.com/hapijs/boom/#boomifyerr-options)

[2019-02-21 16:42] soulchild opened #215 "Logging Boom error with Winston includes reformat() function"
I'm unsure whether this is the right place for this issue (or if it's rather a [Winston](https://github.com/winstonjs/winston) thing), but when logging Boom objects with Winston (e.g. Internal Server Errors), every error contains Boom's `reformat` function, making the log output somewhat confusing.

Here's an example:

[code]

The code producing this is basically just the following Express error h

[2019-02-22 17:18] tuohaibei commented on #109
I have the same iisue,how can i fix it?

[2019-02-23 13:23] kanongil commented on #209
Boom can't safely use an internal symbol to do this, as multiple instances of the lib needs to work together. Thus, it won't detect boom objects created by an other instance.

A compromise could be to use `Symbol.for('isBoom')`, which would reduce the chance that it is set by coincidence. However, this makes it incompatible with all old boom instances, which makes it a very questionable change.

N

[2019-02-23 13:40] ikokostya commented on #209
Could you explain what your mean? I suggest to use one symbol for all instances and don't export them:

[code]

Current issue about unsafe behavior of `isBoom` property and `Boom.isBoom()` function which are [recommended](https://github.com/hapijs/boom#isboomerr) way to check `Boom` error instances.

[2019-02-23 13:44] ikokostya commented on #209
Also, documentation for [`Boom.isBoom()`](https://github.com/hapijs/boom#isboomerr) function is incorrect:

But actually not: https://github.com/hapijs/boom/blob/75de5790200f467940b1919367fec75f80669d97/lib/index.js#L102

[2019-02-23 13:56] ikokostya commented on #209
Hmm. I am wrong:

[code]

This happens, because of [`Symbol.hasInstance`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Symbol/hasInstance) declaration for `Boom` class: https://github.com/hapijs/boom/blob/75de5790200f467940b1919367fec75f80669d97/lib/index.js#L75

So, I think this behavior is unobvious, because creating sub classes for errors is a most popular wa

[2019-02-23 13:59] kanongil commented on #212
This is problematic, as it can cause compatibility problems. It is perfectly valid for some code to create an error, where eg. the `message` property is retrieved using a `getter` function. If this happens, as in #109, it can cause boom to throw an error when it tries to assign to that property.

A safer way to set it, would be using `Object.defineProperty()`. However, this can still throw if the

[2019-03-02 01:02] hueniverse commented on #212
@kanongil I don't think this is the right issue to attach the actual concern onto... we can special case the only getter case.

[2019-03-02 01:03] hueniverse opened #216 "Handle case of message property with getter-only"
See #212 comments.

[2019-03-02 01:06] hueniverse commented on #209
Is this an actual problem or are you just being academic about it? I highly doubt you happened to have a namespace conflict with `isBoom`.

[2019-03-02 01:06] #209 closed

[2019-03-02 01:41] ikokostya commented on #209
@hueniverse

This is *possible* problem. I think this is obviously from description of the issue.

I just asked why actually need this fancy stuff at all?

But instead of answering on question you decided to close the issue.

[2019-03-02 18:39] hueniverse commented on #209
@kanongil explained the limitations we are dealing with. We need to know if an error is a boom object. We cannot use private symbols or instanceof checks because people use multiple copies of this module in their apps and hapi needs to grab all of them. We are not going to do a breaking change that requires the entire ecosystem to move to the new version just to avoid a theoretical problem.

Not s

[2019-03-21 23:17] hueniverse opened #217 "Commercial version of v5 branch"

[2019-03-21 23:30] #217 closed

[2019-03-21 23:46] hueniverse opened #218 "Load the commercial version of hoek"

[2019-03-21 23:55] #218 closed

[2019-03-27 00:09] hueniverse opened #219 "Change module namespace"

[2019-03-27 00:50] #219 closed

[2019-03-29 21:45] hueniverse opened #220 "Fix dependency"

[2019-03-29 21:48] #220 closed

[2019-03-29 22:28] hueniverse opened #221 "Update deps"

[2019-03-29 22:31] #221 closed

[2019-04-04 14:28] ouzhou opened #222 "boom.isBoom is not a function"
"boom": "^7.3.0",

[2019-04-05 08:13] Marsup commented on #222
How is anyone supposed to help you with basically no information?

[2019-04-05 23:48] #222 closed

[2019-04-27 13:52] gkawin opened #223 "Boom's interface cannot be using on Typescript."
I try to assign a `Boom` interface into the first `error` argument on the express middleware in order to capture an error that was thrown from the handler function. But I can't import to that code. So I discovered how to use it by adding the
[code]
on the top of the type definition file. That's all solved completely.
My question is how can I open the PR to fix that? anyone could help me, please. T

[2019-04-27 20:57] hueniverse commented on #223
Sorry but this is the wrong place to ask this question. I don't knot where it the right place since I didn't write the TS definition for this module.

[2019-04-27 20:57] #223 closed

[2019-07-09 17:22] gabrielmsdiniz opened #224 "Format message interceptor"
I'd like to catch all Boom messages right before they are returned from API

e.g.: Imagine that I'm supposed to get better UX messages from API and I need to translate and format all the text messages that my API returns and I don't want to spend time changing one by one thrown error from my application.

Is there any Boom resource that can help me in this case? I didn't find out it

Maybe It woul

[2019-07-15 15:18] maisonm opened #226 "Syntax Error: Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 0"
I am getting the error response object on the client, I can see it in the console. However it is followed up by:

`Uncaught (in promise) SyntaxError: Unexpected token < in JSON at position 0`

It is not sending the `message` passed into the Boom methods to the client. I am getting a response object with the correct status code, however this `message` never comes to the client. I think this message

[2019-07-16 01:15] #226 closed

[2019-07-29 08:35] smartankur4u opened #227 "Include response objects for success responses too"
Hello,
     I have been using `boom` NPM package for a long time. At my workplace, we would stick to the API response like
[code]

Also for the error response, we would include the status object stating the error code and the status and message. I was using Boom for creating the error responses and had to write custom response for the success.

**It would be great if we could generalise boom for i

[2019-08-08 10:21] smartankur4u commented on #227
Anyone here?

[2019-08-08 17:03] hueniverse commented on #224
You should use the hapi `onPreResponse` extension point to make any changes you want to the final error.

[2019-08-08 17:03] #224 closed

[2019-08-14 04:51] hueniverse opened #229 "Update deps"

[2019-08-14 04:54] #229 closed

[2019-08-14 05:56] greenkeeper[bot] opened #230 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 20:19] #230 closed

[2019-08-25 09:41] KnutFr opened #232 "Error during unit test run since last update"
Hi,

Since last update (7.4.3) I encountered an error while executing unit test with mocha :

[code]

The incriminated line is the load of Boom lib :
`import Boom = require("boom")`

Do I have something to change with this last update ? Cannot see anything in changelog.

Out of unit test, my app run without problems and Boom error are throw successfully.

 Npm : 6.10.3 Mocha : 6.2.0 Boom 7.4.3

Re

[2019-08-25 09:45] hueniverse commented on #232
If you switched to use `@hapi/boom` in your package.json, you need to change your code to load the module with the scope. Otherwise, it's a problem in your code or config.

[2019-08-25 09:45] #232 closed

[2019-09-16 02:22] Soviut opened #234 "README needs the bare minimum of documentation"
The README is very spartan and it looks pretty bad when you arrive at the npm page and there's not even a description of the project.

At the bare minimum the README should have the following

- What does it do/what problem does it solve
- How do you install it from npm (especially now that it's under `@hapi/boom`)
- Example usage
- Example result

[2019-09-16 02:24] #234 closed

[2019-09-19 20:07] hueniverse commented on #215
I am not sure what Winston is doing, but `typeof` and `reformat` should not be enumerable keys which might be the reason they are currently included.

[2019-09-19 20:07] #215 closed

[2019-09-19 20:08] hueniverse commented on #215
Adding `breaking change` as this can have side effects if the properties are being manipulated elsewhere unexpectedly. They shouldn't, so this is still a patch bug fix, but the label should help people debug if this breaks something.

[2019-09-19 21:23] #216 closed

[2019-09-19 23:11] mastermatt opened #237 "Types have typo: serverUnavailable -> serviceUnavailable"
Add in #233

@jarrodyellets
@hueniverse

[2019-09-20 00:22] #237 closed

[2019-09-20 04:07] hueniverse opened #239 "Missing error properties"

[2019-09-20 04:14] #239 closed

[2019-09-20 19:36] tanjacky opened #242 "Typescript definitions missing internal()"
Typescript definitions are missing the internal function defined at:
https://github.com/hapijs/boom/blob/master/lib/index.js#L341
See: https://github.com/hapijs/boom/blob/master/lib/index.d.ts#L407

[2019-09-20 23:24] #242 closed

[2019-09-21 00:09] hueniverse opened #243 "Improve types"

[2019-09-21 00:10] #243 closed

[2019-09-22 12:54] ondratra opened #244 "Typescript - can't extend Boom"
Hi,
in version  `@hapi/boom v7.4.2` I was able to extend Boom class like this:
[code]
and use my custom error in the project. But after version `7.4.3` it can't be done anymore. First of all I need to `import` in a slightly different way and then I get error.
So in `7.4.3` with this code
[code]
I get error `TypeError: Object prototype may only be an Object or null: undefined`

Is it bug or intende

[2019-09-22 13:39] Marsup commented on #244
Have you tried 7.4.9 ?

[2019-09-23 00:29] ondratra commented on #244
Yes, sry I haven't mentioned it right away. Does it work for you?

[2019-09-23 19:47] dgreene1 commented on #244
We're seeing a similar error in 7.4.9 where Boom is undefined when we import is as such:
[code]

The actual runtime error is: `Cannot read property 'isBoom' of undefined`

[2019-09-23 19:50] dgreene1 commented on #244
Update: it looks like the commit that caused my above issue is https://github.com/hapijs/boom/commit/feb25bfe1d4bee6324f62f43c49af072e148d170 by @hueniverse

cc'ing @el-besto

[2019-09-23 20:32] #244 closed

[2019-09-24 15:39] chrift opened #246 "boom doesn't consider message not set directly on error object when deciding whether it is a compatible error"
As a result of the fixes for #216, any error messages set on `err.output.payload.error` throw the following error:

[code]

It looks like even though on line 385 it checks for an error message stored in `err.output.payload.error`, it doesn't consider them on line 394.

One possible solution to this could be:

[code]

I can open a PR with this change if desired.

[2019-09-24 15:51] chrift commented on #246
I have opened pr #247 containing style appropriate code from above

[2019-09-24 17:05] hueniverse commented on #246
Can you provide a test case? Just a quick example of how to reproduce this?

[2019-09-25 06:42] dwisetiyadi opened #248 "Error TS2709: Cannot use namespace 'Boom' as a type."
Hi,

I got this error three days ago, before that days everythings is ok. Actually I didn't yet use Boom, my dependencies:

    "@hapi/hapi": "^18.3.1",
    "@hapi/inert": "^5.2.1",
    "@types/hapi": "^18.0.2",
    "@types/hapi__hapi": "^18.2.5",
    "@types/hapi__inert": "^5.2.0",

And this the detailed error:

node_modules/@types/hapi__hapi/index.d.ts(514,32): error TS2709: Cannot use namespace

[2019-09-25 08:26] hueniverse commented on #248
Where is boom being required/imported?

[2019-09-25 13:10] zamu87 commented on #248
Hi, i've got the same problem, it's because @hapi/hapi depends on @hapi/boom that now contains types definitions and @types/hapi__hapi depends on @types/hapi__boom that contains different definitions that are not compatible with ones contained in @hapi/boom

[2019-09-25 13:41] chrift commented on #246
Hey Eran,

Here is an example of what led me to find this error:

[code]

[2019-09-25 15:00] sunknudsen commented on #248
Same, issue appeared after upgrading from `@hapi/boom@7.4.3` to `@hapi/boom@7.4.10`.

[2019-09-27 18:55] hueniverse commented on #248
Removed types from 7.x. Will put them back on 8.x. If you have types issues between the new boom types and external DT types, don't upgrade to v8 until the full hapi ecosystem is properly upgraded its types and they are all in sync.

[2019-09-27 18:55] #248 closed

[2019-09-27 18:56] hueniverse opened #251 "Add types"
Marked as breaking because the type definitions will break existing TypeScript builds. No JavaScript breaking changes.

[2019-09-27 18:57] hueniverse opened #252 "Drop support for node 8"

[2019-09-27 21:49] #251 closed

[2019-09-27 21:49] #246 closed

[2019-09-27 21:49] #252 closed

[2019-09-28 04:26] hueniverse opened #253 "change new Boom() to new Boom.Boom()"
Moving away from direct exporting of classes and functions as public API. Should not affect most users as `new Boom()` is rarely how people should use the module.

[2019-09-28 05:06] #253 closed

[2019-11-02 10:09] jquiceno opened #257 "Error in Boom instance"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise):  Community
* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: v10.16.0
* *module version*: 8.0.1,
* *environment* (e.g. node, browser, native): Node
* *used with* (e.g. hapi appli

[2019-11-02 16:52] hueniverse commented on #257
You should read the release notes when upgrading to a new major version. You need to do ‘new Boom.Boom();’

[2019-11-02 16:52] #257 closed

[2019-11-02 20:28] AdriVanHoudt commented on #257
@hueniverse did you not release this change in 8.0.1 as a patch? Seems weird to change an interface in a patch version no?

[2019-11-02 21:49] hueniverse commented on #257
8.0.0 was unpublished so no, not a patch.

[2019-11-04 08:44] AdriVanHoudt commented on #257
But you published 8.0.1 a day after 8.0.0 no? It is safe to say that multiple people have upgraded (including me) during that time and then saw a patch version after (so as an actual patch version not major).

[2019-11-04 09:45] hueniverse commented on #257
8.0.0 was a mistake. It wasn't ready.

[2019-11-08 10:45] VirgileD opened #258 "Boom 500 errors and logging"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): Community
* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: v12.13.0
* *module version*: 0.8.1
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi applica

[2019-11-08 10:59] kanongil commented on #258
This is clearly a documentation issue, since boom itself does not include any server or logging mechanism.

[2019-11-08 13:32] VirgileD commented on #258
okay, PR done, #259

[2019-12-18 15:38] seanstern opened #260 "boom.unathorized adds extra space to string value scheme in WWW-Authenticate header"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): Community
* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: 10.17.0
* *module version with issue*: 8.0.1
* *last module version without issue*: Unknown
* *environment* (e.g. node

[2020-01-03 23:37] #258 closed

[2020-01-03 23:44] hueniverse opened #262 "Support only node 12"

[2020-01-03 23:45] #262 closed

[2020-01-04 00:06] #260 closed

[2020-01-10 01:47] darkobits opened #264 "Add change log or release notes."
#### Context

* *node version*: 12.14.0
* *module version*: 7.4.11

#### What are you trying to achieve or the steps to reproduce ?

This project does not seem to have a change log, release notes, or other such resource, making it impossible to discern what breaking changes have been introduced across major version bumps without reading and fully comprehending the source diffs.

I would strongly e

[2020-01-10 03:19] hueniverse commented on #264
![image](https://user-images.githubusercontent.com/56631/72123057-e5716d80-3314-11ea-9d80-b0721cee5050.png)

[2020-01-10 03:19] #264 closed

[2020-02-07 15:57] dominykas opened #265 "Optional second param for Boom.isBoom() to verify status code"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): community
* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: 12.15.0
* *module version*: 9.0.0
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi applicat

[2020-03-12 03:02] #265 closed

[2020-05-11 21:51] thetumper opened #268 "Restore support for nodejs v10?"
#### Support plan
* *which support plan is this issue covered by?* Community
* *is this issue currently blocking your project?* (yes/no):  no
* *is this issue affecting a production system?* (yes/no):  no

#### Context

* *node version*:  nodejs 10.15.3
* *module version*: @hapi/boom 9+
* *environment* (e.g. node, browser, native):  node
* *used with* (e.g. hapi application, another framework, sta

[2020-05-12 10:10] hueniverse commented on #268
You can find which version is supported on which platform here: https://hapi.dev/module/boom/.

If you need additional support, paid plans are available.

[2020-05-12 10:10] #268 closed

[2020-06-16 17:17] RachitBhargava99 opened #269 "Boom.wrap is not a function"
#### Support plan

* *which support plan is this issue covered by?* (e.g. Community, Core, Plus, or Enterprise): Community
* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: 14.3.0
* *module version*: 7.3.0
* *environment* (e.g. node, browser, native): Node
* *used with* (e.g. hapi applicat

[2020-06-16 17:51] Marsup commented on #269
Using default's branch documentation on a very old version of the package is unlikely to work. Either use the up-to-date package (`@hapi/boom`) or refer to the old documentation.

[2020-06-16 17:51] #269 closed

[2020-11-29 08:27] raedabusanad opened #276 "Get optional message from response"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): not if i replace hapi/boom
* *is this issue affecting a production system?* (yes/no): not yet

#### Context

* *node version*: 14.5
* *module version*: "@hapi/boom": "^9.1.0",
* *environment* (e.g. node, browser, native):
* *used with* (e.g. hapi application, another framework, standalone, ...):
* *any other relevant i

[2020-11-29 08:32] raedabusanad commented on #276
https://github.com/hapijs/boom/issues/84

[2020-11-29 08:32] #276 closed

[2020-12-09 10:13] watson opened #277 "output.payload.attributes is not exposed in the .d.ts file"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: 14.15.1
* *module version with issue*: 9.1.0
* *last module version without issue*: 7.4.11
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi

[2020-12-10 08:57] Nargonath commented on #277
`attributes` seems to only concern the `unauthorized` boom error: https://github.com/hapijs/boom/blob/b25ee43255b939a28e99bae697bb82f73c0e8129/lib/index.js#L141 in latest version but also in `7.4.11` [as far as I can tell](https://github.com/hapijs/boom/blob/b2e97d2a6d0c72929a4648f082672c88d021b0ce/lib/index.js#L136) . The typings seems to also reflect that in the latest version but not in the dep

[2020-12-14 14:21] watson commented on #277
We simply manually populated the property:

https://github.com/elastic/kibana/blob/1c16bcf8512851748ec69b583172ec73029f6238/src/core/server/http/router/response_adapter.ts#L132-L141

However, this might not have been a good idea. I'm currently investigating why as I didn't write that code

[2020-12-15 11:40] watson commented on #277
After a bit of digging, I found that the hapi documentation actually allow the use of `error.output.payload.any_custom_property`: https://hapi.dev/api/?v=20.0.3#error-transformation

Populating `error.output.payload` with custom properties seem to be the only reasonable way to have the JSON http response populated with custom properties besides `statusCode`, `error`, and `message`.

So shouldn't t

[2020-12-15 12:44] kanongil commented on #277
The boom types should be updated to handle this. I expect a `[key: string]: unknown` property on the `Payload` interface should do the trick.

[2020-12-15 16:33] watson commented on #277
PR: #279

[2020-12-16 10:21] #277 closed

[2021-04-20 15:32] watson opened #282 "Latest v7-commercial release (v7.4.11) is broken"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: 10.24.1
* *module version with issue*: `@commercial/boom v7.4.11`
* *last module version without issue*:
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalo

[2021-04-20 16:28] devinivy commented on #282
You may already be aware, but Eran is the only person who can resolve issues with the commercial packages 👍 CC @hueniverse for visibility.

[2021-04-21 21:13] hueniverse commented on #282
I'm on it.

[2021-04-21 23:09] #282 closed

[2021-05-18 07:08] xusai2014 opened #283 "@hapi/boom error"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: 14.16.0
* *module version with issue*: 9.1.2
* *last module version without issue*:  same
* *environment* (e.g. node, browser, native):  node
* *used with* (e.g. hapi application, another framework, standalone, ...): nex

[2021-05-18 12:11] Nargonath commented on #283
The tests are successful on `node@14` on our part for the latest version so my guess is that the problem comes from the way `@hapi/boom` is used. From your stacktrace it seems perhaps something is trying to assign to the static method `Symbol.hasInstance` on the Boom prototype after it has been defined. 🤔 Did you share the full stacktrace?

[2021-06-05 17:36] marcpearson opened #284 "When returning Boom.badImplemention from an handler the isBoom property is not set on the request.response"
Is it normal to not have property isBoom on the request.response when i returning Boom.badImplementation('My message here') from an Hapi handler function ?

[2021-06-10 04:06] devinivy commented on #284
Hi Marc, could you please follow the issue template?  It seems you've deleted it, and I think it would have helped provide some more information required to look into the issue that you're experiencing.  I believe hapi [boomifies](https://hapi.dev/module/boom/api/?v=9.1.2#boomifyerr-options) all error responses, and that should set `isBoom` to `true` on the error.  If you're seeing something else

[2021-06-10 04:08] #283 closed

[2021-06-10 04:10] devinivy commented on #283
Seems like this may have become an inactive issue.  The only thing I have to add is that it sounds like you may be trying to bundle boom for the browser, which isn't officially supported by the module which is design for server settings.  But if you're intent on doing it, then it may require configuring your bundler to treat boom as a nodejs module rather than something pre-built for the browser.

[2021-06-29 18:43] wallacethefmh opened #285 "Extending Boom and unexpected instanceof behavior"
#### Support plan

* *is this issue currently blocking your project?* no
* *is this issue affecting a production system?* no

#### Context

* *node version*: v14.17.1
* *module version*: 9.1.2
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapi
* *any other relevant information*:

#### How can we help?

https://github.c

[2021-06-30 10:29] kanongil commented on #285
Interesting. So the problem is that sub-classes inherit the `Symbol.hasInstance` method? I would not have guessed that.

[2021-07-02 03:21] #285 closed

[2021-07-02 03:22] #284 closed

[2021-08-19 10:26] AdriVanHoudt opened #288 "Boomify throws when using multiple versions of Boom"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): it was

#### Context

* *node version*: 14.x
* *module version with issue*: 9.1.3
* *last module version without issue*: based on https://github.com/hapijs/boom/commit/13bf5b2e1b02cbf0677ce3bae37eab28edf14991 I'd say 7.4.5
* *environment* (e.g. node, browser

[2021-08-19 10:35] kanongil commented on #288
It should just need `configurable: true` (`writable` is for regular assignments).

I was not aware that the `Cannot redefine property` error only triggers when the value is different and not on the `defineProperty()` call itself.

[2021-08-19 10:43] kanongil commented on #288
Checking the ES spec, it is indeed allowed to call `defineProperty()` if all values of the descriptor match the current one, regardless of the value of `configurable`. Additionally, it is allowed to change a `writable: true` to `writable: false`, even if `configurable: false`.

[2021-08-19 10:46] kanongil commented on #288
Regarding how to fix this, making it `configurable` only fixes the case where an old version creates a boom object from a new version. The new version would still crash if fed an old version, which would still not be configurable.

[2021-08-19 11:53] AdriVanHoudt commented on #288
yeah in my specific case we had 2 copies of 9.1.3, just not deduped by npm (which is fixed by rebuilding the lockfile from scratch).

I see your point of old/new versions but it still makes it safer to use (and then more so in the future).

[2021-08-19 12:05] kanongil commented on #288
I agree. This is a corner case and making it configurable fixes it for the future. Besides, we don't support old versions.

[2021-08-19 12:20] AdriVanHoudt commented on #288
Submitted a PR here: https://github.com/hapijs/boom/pull/289

[2021-08-20 12:25] #288 closed

[2021-10-19 16:07] bilalabbad opened #290 "Missing Boom.notFound etc error argument type support"
Boom function like Boom.notFound etc... works perfectly when Error is passed as 1st argument but is not allowed in index.d.ts

#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*:  14.18.0
* *module version with issue*: 9.1.4
* *last module version without issue*: ?
* *envi

[2021-12-10 09:27] matthieusieben opened #291 "Allow "unknown" values to be boomified"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: *
* *module version*: 9.1.4
* *environment* (e.g. node, browser, native): *
* *used with* (e.g. hapi application, another framework, standalone, ...): Typescript >= 4.4
* *any other relevant information*: *

#### What pr

[2021-12-10 16:41] Nargonath commented on #291
I'm no TS wizard but I think using a flag would just make things more complicated. From my understanding of TS we should type it as `err: Error | unknown` if we hide the behaviour behind an option flag. Considering the nature of the `unknown` type, it seems counterproductive.  We would still have to narrow down the type with some defensive code and handle every possible case for `err` when it's ac

[2021-12-10 18:42] Marsup commented on #291
Not really in favor of that, boom is not supposed to be a catch-all API, the constructor already accepts strings or errors which is I believe as far as it should go. You can just `throw boomify(err as Error)` if you feel confident enough in your code.

[2021-12-10 22:29] kanongil commented on #291
I'm with @Marsup on this. Any non error will throw, so the current TS definition is correct: https://github.com/hapijs/boom/blob/12e025c3e873e94cd9e5bfa0e7f4c891c94ea2f6/lib/index.js#L111-L113

[2021-12-11 00:45] Nargonath commented on #291
Alright, makes sense. I don't mind keeping it as is. @Marsup solution is simple enough.

[2021-12-20 11:38] matthieusieben commented on #291
Typescript is there to ensure type safety. For example there is no point in doing this:
[code]

The whole point of using typescript is to ensure that, as long as you respect the type definitions (no `as any` etc.), you should be safe from running into an unexpected runtime error.

In the case of Boom, this is exactly what is happening: the `boomify` expects an `Error` as argument type *AND* checks

[2021-12-20 11:53] kanongil commented on #291
`Error` is still the correct type for the argument. If a non-Error is passed, another non-Boom `Error` will be thrown, which means that you did something wrong when calling the method. APIs should not throw for expected inputs.

We could however create a new method / option / breaking change that expects `unknown` instead, and return an appropriate `Boom` object on non-Errors instead of throwing.

[2021-12-20 12:55] kanongil commented on #291
Hapi already takes measures to [ensure it doesn't pass non-Errors](https://github.com/hapijs/hapi/blob/74d6b52bac3f8d159b12ba7eb6d4d4d1bd8e361e/lib/toolkit.js#L66-L71), which could be avoided.

It would also fix [this url parsing logic](https://github.com/hapijs/hapi/blob/5999a6027fdedfa28c2317921e2fae56f4f55bcd/lib/request.js#L127-L135), where a custom query `parser` can throw non-Errors, and cau

[2021-12-20 14:33] matthieusieben commented on #291
Just to make things clear:

There are 2 things when it comes to typing a function using typescript. There is the "external" signature and then there is the typing of the arguments within the function's body. Usually they both are the same. But sometimes we need to distinguish the two (see [Function Overloading](https://www.tutorialsteacher.com/typescript/function-overloading)).

In the current imp

[2021-12-20 14:51] matthieusieben commented on #291
Maybe we need something like:

[code]

[2021-12-20 18:54] kanongil commented on #291
As I see it, the current implementation and type signature would also be valid for TS, except the check would be done using an assertion.

It is not unheard of to assert that the passed parameters are what you expect, especially for public APIs and where the passed `err` could have been thrown from *any* type of code of unknown origin, maybe even a callback method provided by a user.

That really

[2021-12-21 13:54] matthieusieben commented on #291
I made a few tests:

https://github.com/matthieusieben/boom/commit/31b80ef5464a5c45bd58eeac2efa021c07c71c77
https://github.com/matthieusieben/boom/commit/dcb1e26f01e80776dbbb802bc2928c6c3abc7f2f
https://github.com/matthieusieben/boom/commit/af02cea4da1e93522bad3136cf015a00bf006d34
https://github.com/matthieusieben/boom/commit/6cc10af8e5645725a9db537b38eebc4b8bab7c88

And a PR: https://github.com/h

[2022-05-01 20:32] devinivy commented on #290
It's true that this is supported, would accept a PR to update the types.

[2022-05-01 20:47] devinivy commented on #291
Bumping this and the PR #293 for any further discussion/review/thoughts.

[2022-05-02 16:01] guyellis opened #296 "Changelog for @hapi/boom 10.0.0"
#### Context

* *node version*: 16.x
* *module version*: 9.x

#### What are you trying to achieve or the steps to reproduce ?

[code]

It appears that boom v10 is out. Please can you update the changelog: https://hapi.dev/module/boom/changelog/

[2022-05-02 16:08] devinivy commented on #296
Thanks for noting!  There are going to be a lot of major releases this week, and the website may stay up to date along the way.  In the interim you can see the milestone for the v10 release for some details: https://github.com/hapijs/boom/milestone/68?closed=1

[2022-05-02 21:06] Nargonath commented on #296
@guyellis Website is live with the latest releases. 😉

![image](https://user-images.githubusercontent.com/583657/166327717-5be59d83-1d9b-4b33-92d2-96804ae6e64a.png)

[2022-05-02 21:06] #296 closed

[2022-05-02 22:37] guyellis commented on #296
Thank you @devinivy @Nargonath

For context, when our bot submits PRs for dependency upgrades we usually research the breaking changes (at a minimum) to ensure there's nothing scary in there which is why we need something like a changelog to help us.

[2022-05-03 09:55] Nargonath commented on #296
Yes sure, that's the proper way of doing it I agree. It's just that we disabled automatic build on the website not to burn all our free credits on the hosting platform. It requires a manual update. As @devinivy mentioned if you need the changelog data at some point and the website is not updated yet, you can always go to GitHub => Issues => Milestones. We always link all the development to a speci

[2022-05-04 18:24] Marsup commented on #291
Still not sure about this. Typescript is a pita in this area, there are whole [articles](https://kentcdodds.com/blog/get-a-catch-block-error-message-with-typescript) about this. We could relax the api, it would be caught by the assertion anyway, but it seems like a footgun at runtime. If we remain strict about it, the error type would be double-checked, so it's not ideal either.

There's no good d

[2022-05-06 14:19] kanongil commented on #291
Thanks for the overview. As you probably guess I favour option 2. Option 4 seems intriguing, but I would prefer not to go that route, unless someone can demonstrate a case where the option makes sense. I much prefer to keep the API simple (also the main reason I don't like option 3).

In this specific case, I'm disinclined to agree since the error throwing is already causing unintended behaviour,

[2022-05-06 15:11] devinivy commented on #291
In the case of #2, what error would be returned: would it be a `badImplementation()` with the passed non-error set as `data`?  Would it respect the `statusCode` option?

[2022-05-09 09:07] matthieusieben commented on #291
I'm gonna let you guys decide on that ;-)

FWIW, here is what I would do:
[code]

[2022-05-09 12:16] matthieusieben commented on #291
Well `new Boom` is indeed essentially the same as the `boomifyAny()` I initially suggested.

Can I suggest another options then:
5. Allow `constructor` to accept `any` as first argument & improve the message when the `constructor` is called with a non-string - non-Error value to avoid having `Error: [object Object]`

[2022-05-09 12:21] matthieusieben commented on #291
Maybe also default `data` to `message` when `message` is not a string ? Something like:
[code]

[2022-09-13 22:30] Marsup commented on #291
After taking some time to think about it, maybe option 3 is not that bad. A helper inside your app is not that hard to create and import, but if every typescript developer out there ends up sharing the same snippet, might as well integrate it into boom. Just have to come up with a name that makes sense.

[2022-09-24 20:42] laurilarjo commented on #291
I just started to use Boom in typescript, and came here to see why boomify doesn't support the unknown errors, which is the most common use case.

I'd go for option 1 or 2 for simplicity since all the guides already teach you to use `boomify()`. Even though it changes the current function's signature, it doesn't cause any issues for existing projects when they upgrade, since it just makes the sign